@font-face {
    font-family: 'Segoe UI';
    src: url("../fonts/SegoeUi/Segoe\ UI\ Black.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: 'Arial';
    src: url("../fonts/Arial/ARIALLGT.TTF") format("truetype");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Arial';
    src: url("../fonts/Arial/ARIALLGTITL.TTF") format("truetype");
    font-style: italic;
    font-weight: 300;
}
@font-face {
    font-family: 'Arial';
    src: url("../fonts/Arial/ARIAL.TTF") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Arial';
    src: url("../fonts/Arial/ARIALI.TTF") format("truetype");
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: 'Arial';
    src: url("../fonts/Arial/ArialMdm.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Arial';
    src: url("../fonts/Arial/ArialMdmItl.ttf") format("truetype");
    font-style: italic;
    font-weight: 500;
}
@font-face {
    font-family: 'Arial';
    src: url("../fonts/Arial/ARIALBD.TTF") format("truetype");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Arial';
    src: url("../fonts/Arial/ARIALBI.TTF") format("truetype");
    font-style: italic;
    font-weight: 700;
}
@font-face {
    font-family: 'Arial';
    src: url("../fonts/Arial/ARIBLK.TTF") format("truetype");
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: 'Arial';
    src: url("../fonts/Arial/ARIALBLACKITALIC.TTF") format("truetype");
    font-style: italic;
    font-weight: 900;
}
@font-face {
    font-family: 'Arial';
    src: url("../fonts/Arial/ArialMdm.ttf");
}
@font-face {
    font-family: 'Noto Serif KR';
    src: url("../fonts/NotoSerifKR/NotoSerifCJKkr-ExtraLight.otf") format("opentype");
    font-style: normal;
    font-weight: 200;
    unicode-range: U+1100-11FF, U+AC00-D7A3, U+3130-318F, U+A960-A97F, U+D7B0-D7FF;
}@font-face {
    font-family: 'Noto Serif KR';
    src:url("../fonts/NotoSerifKR/NotoSerifCJKkr-Light.otf") format("opentype");
    font-style: normal;
    font-weight: 300;
    unicode-range: U+1100-11FF, U+AC00-D7A3, U+3130-318F, U+A960-A97F, U+D7B0-D7FF;
}
@font-face {
    font-family: 'Noto Serif KR';
    src:url("../fonts/NotoSerifKR/NotoSerifCJKkr-Regular.otf") format("opentype");
    font-style: normal;
    font-weight: 400;
    unicode-range: U+1100-11FF, U+AC00-D7A3, U+3130-318F, U+A960-A97F, U+D7B0-D7FF;
}
@font-face {
    font-family: 'Noto Serif KR';
    src:url("../fonts/NotoSerifKR/NotoSerifCJKkr-Medium.otf") format("opentype");
    font-style: normal;
    font-weight: 500;
    unicode-range: U+1100-11FF, U+AC00-D7A3, U+3130-318F, U+A960-A97F, U+D7B0-D7FF;
}
@font-face {
    font-family: 'Noto Serif KR';
    src:url("../fonts/NotoSerifKR/NotoSerifCJKkr-SemiBold.otf") format("opentype");
    font-style: normal;
    font-weight: 600;
    unicode-range: U+1100-11FF, U+AC00-D7A3, U+3130-318F, U+A960-A97F, U+D7B0-D7FF;
}
@font-face {
    font-family: 'Noto Serif KR';
    src:url("../fonts/NotoSerifKR/NotoSerifCJKkr-Bold.otf") format("opentype");
    font-style: normal;
    font-weight: 700;
    unicode-range: U+1100-11FF, U+AC00-D7A3, U+3130-318F, U+A960-A97F, U+D7B0-D7FF;
}
@font-face {
    font-family: 'Noto Serif KR';
    src:url("../fonts/NotoSerifKR/NotoSerifCJKkr-Black.otf") format("opentype");
    font-style: normal;
    font-weight: 900;
    unicode-range: U+1100-11FF, U+AC00-D7A3, U+3130-318F, U+A960-A97F, U+D7B0-D7FF;
}
@font-face {
    font-family: 'Noto Sans KR';
    src:url("../fonts/NotoSansKR/NotoSansCJKkr-Thin.otf") format("opentype");
    font-style: normal;
    font-weight: 100;
    unicode-range: U+AC00-D7A3;
}
@font-face {
    font-family: 'Noto Sans KR';
    src:url("../fonts/NotoSansKR/NotoSansCJKkr-DemiLight.otf") format("opentype");
    font-style: normal;
    font-weight: 200;
    unicode-range: U+AC00-D7A3;
}
@font-face {
    font-family: 'Noto Sans KR';
    src:url("../fonts/NotoSansKR/NotoSansCJKkr-Light.otf") format("opentype");
    font-style: normal;
    font-weight: 300;
    unicode-range: U+AC00-D7A3;
}
@font-face {
    font-family: 'Noto Sans KR';
    src:url("../fonts/NotoSansKR/NotoSansCJKkr-Regular.otf") format("opentype");
    font-style: normal;
    font-weight: 400;
    unicode-range: U+AC00-D7A3;
}
@font-face {
    font-family: 'Noto Sans KR';
    src:url("../fonts/NotoSansKR/NotoSansCJKkr-Medium.otf") format("opentype");
    font-style: normal;
    font-weight: 500;
    unicode-range: U+AC00-D7A3;
}
@font-face {
    font-family: 'Noto Sans KR';
    src:url("../fonts/NotoSansKR/NotoSansCJKkr-Bold.otf") format("opentype");
    font-style: normal;
    font-weight: 700;
    unicode-range: U+AC00-D7A3;
}
@font-face {
    font-family: 'Noto Sans KR';
    src:url("../fonts/NotoSansKR/NotoSansCJKkr-Black.otf") format("opentype");
    font-style: normal;
    font-weight: 900;
    unicode-range: U+AC00-D7A3;
}