.tetris{
    width: 50dvh;
    left: calc(50% - 25dvh);
    position: absolute;
    text-align: center;
    top: 1dvh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8dvh;
    font-weight: 900;
    letter-spacing: 0.4dvh;
}
#titleShadow{
    background-image: radial-gradient(ellipse 99% 55% at 50% 84%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0) 51%, rgba(255, 255, 255, 0.2) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.tetris span:nth-child(1){
    color: var(--tetris-red);
    text-shadow: 0 -0.2dvh rgba(255, 255, 255, 0.7),
                -0.2dvh 0 rgba(255, 255, 255, 0.7),
                -0.2dvh -0.2dvh rgba(255, 255, 255, 0.7),
                0 0.2dvh rgba(0, 0, 0, 0.4),
                0.2dvh 0 rgba(0, 0, 0, 0.4),
                0.2dvb 0.2dvh rgba(0, 0, 0, 0.4),               
                -0.27dvh 0 var(--tetris-red),
                0 -0.27dvh var(--tetris-red),
                -0.27dvh -0.27dvh var(--tetris-red),
                0.27dvh 0 var(--tetris-red),
                0 0.27dvh var(--tetris-red),
                -0.27dvh 0.27dvh var(--tetris-red),
                0.27dvh -0.27dvh var(--tetris-red),
                0.27dvh 0.27dvh var(--tetris-red);
}
.tetris span:nth-child(2){
    color: var(--tetris-orange);
    text-shadow: 0 -0.2dvh rgba(255, 255, 255, 0.7),
                -0.2dvh 0 rgba(255, 255, 255, 0.7),
                -0.2dvh -0.2dvh rgba(255, 255, 255, 0.7),
                0 0.2dvh rgba(0, 0, 0, 0.4),
                0.2dvh 0 rgba(0, 0, 0, 0.4),
                0.2dvb 0.2dvh rgba(0, 0, 0, 0.4),               
                -0.27dvh 0 var(--tetris-orange),
                0 -0.27dvh var(--tetris-orange),
                -0.27dvh -0.27dvh var(--tetris-orange),
                0.27dvh 0 var(--tetris-orange),
                0 0.27dvh var(--tetris-orange),
                -0.27dvh 0.27dvh var(--tetris-orange),
                0.27dvh -0.27dvh var(--tetris-orange),
                0.27dvh 0.27dvh var(--tetris-orange);
}
.tetris:not(:has(>span:nth-child(5))) span:nth-child(2){
    color: var(--tetris-yellow);
    text-shadow: 0 -0.2dvh rgba(255, 255, 255, 0.7),
                -0.2dvh 0 rgba(255, 255, 255, 0.7),
                -0.2dvh -0.2dvh rgba(255, 255, 255, 0.7),
                0 0.2dvh rgba(0, 0, 0, 0.4),
                0.2dvh 0 rgba(0, 0, 0, 0.4),
                0.2dvb 0.2dvh rgba(0, 0, 0, 0.4),               
                -0.27dvh 0 var(--tetris-yellow),
                0 -0.27dvh var(--tetris-yellow),
                -0.27dvh -0.27dvh var(--tetris-yellow),
                0.27dvh 0 var(--tetris-yellow),
                0 0.27dvh var(--tetris-yellow),
                -0.27dvh 0.27dvh var(--tetris-yellow),
                0.27dvh -0.27dvh var(--tetris-yellow),
                0.27dvh 0.27dvh var(--tetris-yellow);
}
.tetris span:nth-child(3){
    color: var(--tetris-yellow);
    text-shadow: 0 -0.2dvh rgba(255, 255, 255, 0.7),
                -0.2dvh 0 rgba(255, 255, 255, 0.7),
                -0.2dvh -0.2dvh rgba(255, 255, 255, 0.7),
                0 0.2dvh rgba(0, 0, 0, 0.4),
                0.2dvh 0 rgba(0, 0, 0, 0.4),
                0.2dvb 0.2dvh rgba(0, 0, 0, 0.4),               
                -0.27dvh 0 var(--tetris-yellow),
                0 -0.27dvh var(--tetris-yellow),
                -0.27dvh -0.27dvh var(--tetris-yellow),
                0.27dvh 0 var(--tetris-yellow),
                0 0.27dvh var(--tetris-yellow),
                -0.27dvh 0.27dvh var(--tetris-yellow),
                0.27dvh -0.27dvh var(--tetris-yellow),
                0.27dvh 0.27dvh var(--tetris-yellow);
}
.tetris:not(:has(>span:nth-child(5))) span:nth-child(3){
    color: var(--tetris-green);
    text-shadow: 0 -0.2dvh rgba(255, 255, 255, 0.7),
                -0.2dvh 0 rgba(255, 255, 255, 0.7),
                -0.2dvh -0.2dvh rgba(255, 255, 255, 0.7),
                0 0.2dvh rgba(0, 0, 0, 0.4),
                0.2dvh 0 rgba(0, 0, 0, 0.4),
                0.2dvb 0.2dvh rgba(0, 0, 0, 0.4),               
                -0.27dvh 0 var(--tetris-green),
                0 -0.27dvh var(--tetris-green),
                -0.27dvh -0.27dvh var(--tetris-green),
                0.27dvh 0 var(--tetris-green),
                0 0.27dvh var(--tetris-green),
                -0.27dvh 0.27dvh var(--tetris-green),
                0.27dvh -0.27dvh var(--tetris-green),
                0.27dvh 0.27dvh var(--tetris-green);
}
.tetris span:nth-child(4){
    color: var(--tetris-green);
    text-shadow: 0 -0.2dvh rgba(255, 255, 255, 0.7),
                -0.2dvh 0 rgba(255, 255, 255, 0.7),
                -0.2dvh -0.2dvh rgba(255, 255, 255, 0.7),
                0 0.2dvh rgba(0, 0, 0, 0.4),
                0.2dvh 0 rgba(0, 0, 0, 0.4),
                0.2dvb 0.2dvh rgba(0, 0, 0, 0.4),               
                -0.27dvh 0 var(--tetris-green),
                0 -0.27dvh var(--tetris-green),
                -0.27dvh -0.27dvh var(--tetris-green),
                0.27dvh 0 var(--tetris-green),
                0 0.27dvh var(--tetris-green),
                -0.27dvh 0.27dvh var(--tetris-green),
                0.27dvh -0.27dvh var(--tetris-green),
                0.27dvh 0.27dvh var(--tetris-green);
}
.tetris:not(:has(>span:nth-child(5))) span:nth-child(4){
    color: var(--tetris-blue);
    text-shadow: 0 -0.2dvh rgba(255, 255, 255, 0.7),
                -0.2dvh 0 rgba(255, 255, 255, 0.7),
                -0.2dvh -0.2dvh rgba(255, 255, 255, 0.7),
                0 0.2dvh rgba(0, 0, 0, 0.4),
                0.2dvh 0 rgba(0, 0, 0, 0.4),
                0.2dvb 0.2dvh rgba(0, 0, 0, 0.4),               
                -0.27dvh 0 var(--tetris-blue),
                0 -0.27dvh var(--tetris-blue),
                -0.27dvh -0.27dvh var(--tetris-blue),
                0.27dvh 0 var(--tetris-blue),
                0 0.27dvh var(--tetris-blue),
                -0.27dvh 0.27dvh var(--tetris-blue),
                0.27dvh -0.27dvh var(--tetris-blue),
                0.27dvh 0.27dvh var(--tetris-blue);
}
.tetris span:nth-child(5){
    color: var(--tetris-blue);
    text-shadow: 0 -0.2dvh rgba(255, 255, 255, 0.7),
                -0.2dvh 0 rgba(255, 255, 255, 0.7),
                -0.2dvh -0.2dvh rgba(255, 255, 255, 0.7),
                0 0.2dvh rgba(0, 0, 0, 0.4),
                0.2dvh 0 rgba(0, 0, 0, 0.4),
                0.2dvb 0.2dvh rgba(0, 0, 0, 0.4),               
                -0.27dvh 0 var(--tetris-blue),
                0 -0.27dvh var(--tetris-blue),
                -0.27dvh -0.27dvh var(--tetris-blue),
                0.27dvh 0 var(--tetris-blue),
                0 0.27dvh var(--tetris-blue),
                -0.27dvh 0.27dvh var(--tetris-blue),
                0.27dvh -0.27dvh var(--tetris-blue),
                0.27dvh 0.27dvh var(--tetris-blue);
}
.tetris span:nth-child(6){
    color: var(--tetris-purple);
    text-shadow: 0 -0.2dvh rgba(255, 255, 255, 0.7),
                -0.2dvh 0 rgba(255, 255, 255, 0.7),
                -0.2dvh -0.2dvh rgba(255, 255, 255, 0.7),
                0 0.2dvh rgba(0, 0, 0, 0.4),
                0.2dvh 0 rgba(0, 0, 0, 0.4),
                0.2dvb 0.2dvh rgba(0, 0, 0, 0.4),               
                -0.27dvh 0 var(--tetris-purple),
                0 -0.27dvh var(--tetris-purple),
                -0.27dvh -0.27dvh var(--tetris-purple),
                0.27dvh 0 var(--tetris-purple),
                0 0.27dvh var(--tetris-purple),
                -0.27dvh 0.27dvh var(--tetris-purple),
                0.27dvh -0.27dvh var(--tetris-purple),
                0.27dvh 0.27dvh var(--tetris-purple);
}
.container{
    width: 80dvh;
    height: 80dvh;
    left: calc(50dvw - 40dvh);
    top: 13dvh;
    position: absolute;
    border: 3px solid black;
    border-radius: 2%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 3fr 1.2fr 1.2fr 1.2fr 2.4fr;
    text-align: center;
}
.title{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.7dvh;
    font-weight: bold;
    letter-spacing: 0.1dvh;
    text-shadow: 0.15dvh 0.15dvh rgba(100, 100, 100, 0.5);
}
.content{
    padding-top: 1dvh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.2dvh;
    font-weight: bold;
    color: var(--tetris-red);
    letter-spacing: 0.1dvh;
}
.layer{
    width: 40dvh;
    height: 80dvh;
    left: calc(50dvw - 20dvh);
    top: 13dvh;
    position: absolute;
    border: 3px solid rgba(0,0,0,0);
    text-align: center;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}
#background{
    background-color: rgb(169, 169, 169);
    box-shadow: 0.4dvh 0.4dvh 1dvh rgb(0, 0, 0),
    -0.4dvh -0.4dvh rgb(80, 80, 80),
    -0.4dvh 0.4dvh rgb(50, 50, 50),
    0.4dvh -0.4dvh rgb(50, 50, 50),
    0.4dvh 0 rgb(50, 50, 50),
    0 0.4dvh rgb(50, 50, 50),
    -0.4dvh 0 rgb(50, 50, 50),
    0 -0.4dvh rgb(50, 50, 50);
}
#boardSection, #centerBackground{
    border-left: 3px solid black;
    border-right: 3px solid black;
    grid-column: 2/3;
    grid-row: 1/6;
}
#nextSection, #rightBackground{
    grid-column: 3/4;
    grid-row: 1/6;
}
#leftBackground{
    grid-column: 1/2;
    grid-row: 1/6;
}
.board{
    display: grid;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: relative;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
}
#backBoard{
    background-color: rgb(128, 128, 128);
}
.grid{
    border: 1px dotted rgb(70, 70, 70);
}
.block{
    border: 1px dotted rgb(0, 0, 0);
    overflow: hidden;
}
.blank{
    border: 1px dotted rgba(0,0,0,0);
}
.small_board{
    width: 80%;
    aspect-ratio: 1;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.O_block{
    background-color: var(--tetris-yellow);
}
.L_block{
    background-color: var(--tetris-orange);
}
.J_block{
    background-color: var(--tetris-blue);
}
.I_block{
    background-color: var(--tetris-cyan);
}
.S_block{
    background-color: var(--tetris-green);
}
.Z_block{
    background-color: var(--tetris-red);
}
.T_block{
    background-color: var(--tetris-purple);
}
.white{
    background-color: rgb(255, 255, 255);
}
.shadow{
    opacity: 0.4;
}
.innerBlock{
    position: relative;
    width: 84%;
    height: 84%;
    left: 8%;
    top: 8%;
    box-shadow: 2px 2px rgba(0,0,0,0.5),
                -2px -2px rgba(255,255,255,0.5);
}
.blackBox{
    width: 80%;
    background-color: black;
    border: 2px solid white;
    border-radius: 1.4dvh;
    position: relative;
    overflow: hidden;
}
#holdBox{    
    aspect-ratio: 1;
}
#nextBox{
    aspect-ratio: 1/3.3;
}
#levelBox, #scoreBox, #lineBox{
    margin-top: 0.2dvh;
    height: 5dvh;
}
#holdBuffer{
    width:100%;
    height: 4.8dvh;
}
#nextBuffer{
    width:100%;
    height: 3.6dvh;
}
#pauseButton{
    width: 50%;
    aspect-ratio: 1;
    background-color: rgb(80, 80, 80);
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 17%;
    position: relative;
    text-decoration: none;
    overflow: hidden;
}
#pauseButton>div{
    width: 86%;
    aspect-ratio: 1;
    top: calc(7% - 0.3dvh);
    left: calc(7% - 0.3dvh);
    position: relative;
    border-radius: 15%;
    background-color: rgb(150, 150, 150);
    border: 0.4dvh solid rgb(80, 80, 80);
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.4));
    box-shadow: 0.4dvh 0.4dvh rgba(0, 0, 0, 0.3),
                -0.4dvh -0.4dvh rgba(255, 255, 255, 0.1);
    /* font-size: 5.4dvh; */
    font-family: Arial, Helvetica, sans-serif;
    line-height: 8.5dvh;
    color: white;
    text-shadow: 0.2dvh 0.2dvh rgba(0, 0, 0, 0.5);
}
#pauseButton:hover{
    background-color: rgb(100, 100, 100);
}
#pauseButton:active{
    background-color: rgb(60, 60, 60);
}
#pauseButton:hover>div{
    top: calc(7% - 0.3dvh - 0.5px);
    left: calc(7% - 0.3dvh - 0.5px);
    border: 0.4dvh solid rgb(100, 100, 100);
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.2));
    box-shadow: 0.4dvh 0.4dvh rgba(0, 0, 0, 0.3),
                -0.4dvh -0.4dvh rgba(255, 255, 255, 0.1);
}
#pauseButton:active>div{
    top: calc(7% - 0.3dvh + 0.5px);
    left: calc(7% - 0.3dvh + 0.5px);
    border: 0.4dvh solid rgb(60, 60, 60);
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.5));
    box-shadow: 0.4dvh 0.4dvh rgba(0, 0, 0, 0.3),
                -0.4dvh -0.4dvh rgba(255, 255, 255, 0.1);
}