#ingame{
    position: absolute;
    width: 100dvw;
    height: 100dvh;
}
.tetris{
    width: 50dvh;
    left: calc(50dvw - 25dvh);
    position: absolute;
    text-align: center;
    top: 1dvh;
    font-family: 'Segoe UI', sans-serif;
    font-size: 8dvh;
    font-weight: 900;
    letter-spacing: 0.4dvh;
}
#titleShadow{
    background-image: radial-gradient(ellipse 99% 55% at 50% 84%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0) 51%, rgba(255, 255, 255, 0.2) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.tetris span:nth-child(1){
    color: var(--tetris-red);
    text-shadow: 0 -0.2dvh rgba(255, 255, 255, 0.7),
                -0.2dvh 0 rgba(255, 255, 255, 0.7),
                -0.2dvh -0.2dvh rgba(255, 255, 255, 0.7),
                0 0.2dvh rgba(0, 0, 0, 0.4),
                0.2dvh 0 rgba(0, 0, 0, 0.4),
                0.2dvb 0.2dvh rgba(0, 0, 0, 0.4),               
                -0.27dvh 0 var(--tetris-red),
                0 -0.27dvh var(--tetris-red),
                -0.27dvh -0.27dvh var(--tetris-red),
                0.27dvh 0 var(--tetris-red),
                0 0.27dvh var(--tetris-red),
                -0.27dvh 0.27dvh var(--tetris-red),
                0.27dvh -0.27dvh var(--tetris-red),
                0.27dvh 0.27dvh var(--tetris-red);
}
.tetris span:nth-child(2){
    color: var(--tetris-orange);
    text-shadow: 0 -0.2dvh rgba(255, 255, 255, 0.7),
                -0.2dvh 0 rgba(255, 255, 255, 0.7),
                -0.2dvh -0.2dvh rgba(255, 255, 255, 0.7),
                0 0.2dvh rgba(0, 0, 0, 0.4),
                0.2dvh 0 rgba(0, 0, 0, 0.4),
                0.2dvb 0.2dvh rgba(0, 0, 0, 0.4),               
                -0.27dvh 0 var(--tetris-orange),
                0 -0.27dvh var(--tetris-orange),
                -0.27dvh -0.27dvh var(--tetris-orange),
                0.27dvh 0 var(--tetris-orange),
                0 0.27dvh var(--tetris-orange),
                -0.27dvh 0.27dvh var(--tetris-orange),
                0.27dvh -0.27dvh var(--tetris-orange),
                0.27dvh 0.27dvh var(--tetris-orange);
}
.tetris:not(:has(>span:nth-child(5))) span:nth-child(2){
    color: var(--tetris-yellow);
    text-shadow: 0 -0.2dvh rgba(255, 255, 255, 0.7),
                -0.2dvh 0 rgba(255, 255, 255, 0.7),
                -0.2dvh -0.2dvh rgba(255, 255, 255, 0.7),
                0 0.2dvh rgba(0, 0, 0, 0.4),
                0.2dvh 0 rgba(0, 0, 0, 0.4),
                0.2dvb 0.2dvh rgba(0, 0, 0, 0.4),               
                -0.27dvh 0 var(--tetris-yellow),
                0 -0.27dvh var(--tetris-yellow),
                -0.27dvh -0.27dvh var(--tetris-yellow),
                0.27dvh 0 var(--tetris-yellow),
                0 0.27dvh var(--tetris-yellow),
                -0.27dvh 0.27dvh var(--tetris-yellow),
                0.27dvh -0.27dvh var(--tetris-yellow),
                0.27dvh 0.27dvh var(--tetris-yellow);
}
.tetris span:nth-child(3){
    color: var(--tetris-yellow);
    text-shadow: 0 -0.2dvh rgba(255, 255, 255, 0.7),
                -0.2dvh 0 rgba(255, 255, 255, 0.7),
                -0.2dvh -0.2dvh rgba(255, 255, 255, 0.7),
                0 0.2dvh rgba(0, 0, 0, 0.4),
                0.2dvh 0 rgba(0, 0, 0, 0.4),
                0.2dvb 0.2dvh rgba(0, 0, 0, 0.4),               
                -0.27dvh 0 var(--tetris-yellow),
                0 -0.27dvh var(--tetris-yellow),
                -0.27dvh -0.27dvh var(--tetris-yellow),
                0.27dvh 0 var(--tetris-yellow),
                0 0.27dvh var(--tetris-yellow),
                -0.27dvh 0.27dvh var(--tetris-yellow),
                0.27dvh -0.27dvh var(--tetris-yellow),
                0.27dvh 0.27dvh var(--tetris-yellow);
}
.tetris:not(:has(>span:nth-child(5))) span:nth-child(3){
    color: var(--tetris-green);
    text-shadow: 0 -0.2dvh rgba(255, 255, 255, 0.7),
                -0.2dvh 0 rgba(255, 255, 255, 0.7),
                -0.2dvh -0.2dvh rgba(255, 255, 255, 0.7),
                0 0.2dvh rgba(0, 0, 0, 0.4),
                0.2dvh 0 rgba(0, 0, 0, 0.4),
                0.2dvb 0.2dvh rgba(0, 0, 0, 0.4),               
                -0.27dvh 0 var(--tetris-green),
                0 -0.27dvh var(--tetris-green),
                -0.27dvh -0.27dvh var(--tetris-green),
                0.27dvh 0 var(--tetris-green),
                0 0.27dvh var(--tetris-green),
                -0.27dvh 0.27dvh var(--tetris-green),
                0.27dvh -0.27dvh var(--tetris-green),
                0.27dvh 0.27dvh var(--tetris-green);
}
.tetris span:nth-child(4){
    color: var(--tetris-green);
    text-shadow: 0 -0.2dvh rgba(255, 255, 255, 0.7),
                -0.2dvh 0 rgba(255, 255, 255, 0.7),
                -0.2dvh -0.2dvh rgba(255, 255, 255, 0.7),
                0 0.2dvh rgba(0, 0, 0, 0.4),
                0.2dvh 0 rgba(0, 0, 0, 0.4),
                0.2dvb 0.2dvh rgba(0, 0, 0, 0.4),               
                -0.27dvh 0 var(--tetris-green),
                0 -0.27dvh var(--tetris-green),
                -0.27dvh -0.27dvh var(--tetris-green),
                0.27dvh 0 var(--tetris-green),
                0 0.27dvh var(--tetris-green),
                -0.27dvh 0.27dvh var(--tetris-green),
                0.27dvh -0.27dvh var(--tetris-green),
                0.27dvh 0.27dvh var(--tetris-green);
}
.tetris:not(:has(>span:nth-child(5))) span:nth-child(4){
    color: var(--tetris-blue);
    text-shadow: 0 -0.2dvh rgba(255, 255, 255, 0.7),
                -0.2dvh 0 rgba(255, 255, 255, 0.7),
                -0.2dvh -0.2dvh rgba(255, 255, 255, 0.7),
                0 0.2dvh rgba(0, 0, 0, 0.4),
                0.2dvh 0 rgba(0, 0, 0, 0.4),
                0.2dvb 0.2dvh rgba(0, 0, 0, 0.4),               
                -0.27dvh 0 var(--tetris-blue),
                0 -0.27dvh var(--tetris-blue),
                -0.27dvh -0.27dvh var(--tetris-blue),
                0.27dvh 0 var(--tetris-blue),
                0 0.27dvh var(--tetris-blue),
                -0.27dvh 0.27dvh var(--tetris-blue),
                0.27dvh -0.27dvh var(--tetris-blue),
                0.27dvh 0.27dvh var(--tetris-blue);
}
.tetris span:nth-child(5){
    color: var(--tetris-blue);
    text-shadow: 0 -0.2dvh rgba(255, 255, 255, 0.7),
                -0.2dvh 0 rgba(255, 255, 255, 0.7),
                -0.2dvh -0.2dvh rgba(255, 255, 255, 0.7),
                0 0.2dvh rgba(0, 0, 0, 0.4),
                0.2dvh 0 rgba(0, 0, 0, 0.4),
                0.2dvb 0.2dvh rgba(0, 0, 0, 0.4),               
                -0.27dvh 0 var(--tetris-blue),
                0 -0.27dvh var(--tetris-blue),
                -0.27dvh -0.27dvh var(--tetris-blue),
                0.27dvh 0 var(--tetris-blue),
                0 0.27dvh var(--tetris-blue),
                -0.27dvh 0.27dvh var(--tetris-blue),
                0.27dvh -0.27dvh var(--tetris-blue),
                0.27dvh 0.27dvh var(--tetris-blue);
}
.tetris span:nth-child(6){
    color: var(--tetris-purple);
    text-shadow: 0 -0.2dvh rgba(255, 255, 255, 0.7),
                -0.2dvh 0 rgba(255, 255, 255, 0.7),
                -0.2dvh -0.2dvh rgba(255, 255, 255, 0.7),
                0 0.2dvh rgba(0, 0, 0, 0.4),
                0.2dvh 0 rgba(0, 0, 0, 0.4),
                0.2dvb 0.2dvh rgba(0, 0, 0, 0.4),               
                -0.27dvh 0 var(--tetris-purple),
                0 -0.27dvh var(--tetris-purple),
                -0.27dvh -0.27dvh var(--tetris-purple),
                0.27dvh 0 var(--tetris-purple),
                0 0.27dvh var(--tetris-purple),
                -0.27dvh 0.27dvh var(--tetris-purple),
                0.27dvh -0.27dvh var(--tetris-purple),
                0.27dvh 0.27dvh var(--tetris-purple);
}
.container{
    width: 80dvh;
    height: 80dvh;
    left: calc(50dvw - 40dvh);
    top: 13dvh;
    position: absolute;
    border: 0.4dvh solid black;
    border-radius: 2%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 3fr 1.2fr 1.2fr 1.5fr 2.1fr;
    text-align: center;
}
.title{
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 2.7dvh;
    font-weight: bold;
    letter-spacing: 0.1dvh;
    text-shadow: 0.15dvh 0.15dvh rgba(100, 100, 100, 0.5);
}
#hold_in_game, #next_in_game{
    padding-top: 2dvh;
    padding-bottom: 1dvh;
}
#pause_in_game{
    padding-bottom: 1dvh;
}
.content{
    font-family: Arial, sans-serif;
    font-size: 3.2dvh;
    font-weight: bold;
    color: var(--tetris-red);
    letter-spacing: 0.1dvh;
}
.layer{
    width: 40dvh;
    height: 80dvh;
    left: calc(50dvw - 20dvh);
    top: 13dvh;
    position: absolute;
    border: 0.4dvh solid rgba(0,0,0,0);
    text-align: center;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}
#background{
    background-color: rgb(169, 169, 169);
    box-shadow: 0.4dvh 0.4dvh 1dvh rgb(0, 0, 0),
    -0.4dvh -0.4dvh rgb(80, 80, 80),
    -0.4dvh 0.4dvh rgb(50, 50, 50),
    0.4dvh -0.4dvh rgb(50, 50, 50),
    0.4dvh 0 rgb(50, 50, 50),
    0 0.4dvh rgb(50, 50, 50),
    -0.4dvh 0 rgb(50, 50, 50),
    0 -0.4dvh rgb(50, 50, 50);
}
#boardSection, #centerBackground{
    border-left: 0.4dvh solid black;
    border-right: 0.4dvh solid black;
    grid-column: 2/3;
    grid-row: 1/6;
}
#nextSection, #rightBackground{
    grid-column: 3/4;
    grid-row: 1/6;
}
#leftBackground{
    grid-column: 1/2;
    grid-row: 1/6;
}
.board{
    display: grid;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: relative;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
}
#backBoard{
    background-color: rgb(128, 128, 128);
}
.grid{
    border: 0.2dvh dotted rgb(70, 70, 70);
}
.block{
    border: 0.2dvh dotted rgb(0, 0, 0);
    overflow: hidden;
}
.blank{
    border: 0.2dvh dotted rgba(0,0,0,0);
}
.small_board{
    width: 80%;
    aspect-ratio: 1;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.O_block{
    background-color: var(--tetris-yellow);
}
.L_block{
    background-color: var(--tetris-orange);
}
.J_block{
    background-color: var(--tetris-blue);
}
.I_block{
    background-color: var(--tetris-cyan);
}
.S_block{
    background-color: var(--tetris-green);
}
.Z_block{
    background-color: var(--tetris-red);
}
.T_block{
    background-color: var(--tetris-purple);
}
.white{
    background-color: rgb(255, 255, 255);
}
.shadow{
    opacity: 0.4;
}
.innerBlock{
    position: relative;
    width: 84%;
    height: 84%;
    left: 8%;
    top: 8%;
    box-shadow: 0.3dvh 0.3dvh rgba(0,0,0,0.5),
                -0.3dvh -0.3dvh rgba(255,255,255,0.5);
}
.blackBox{
    width: 80%;
    background-color: black;
    border: 0.3dvh solid white;
    border-radius: 1.4dvh;
    position: relative;
    overflow: hidden;
}
#holdBox{    
    aspect-ratio: 1;
}
#hold{
    top: 0dvh;
}
#hold:has(>.I_block){
    top: -1.6dvh;
}
#nextBox{
    aspect-ratio: 1/3.3;
}
#next_1{
    top: -3dvh;
}
#next_1:has(>.I_block){
    top: -4.6dvh;
}
#next_2{
    top: -6dvh;
}
#next_2:has(>.I_block){
    top: -7.6dvh;
}
#next_3{
    top: -9dvh;
}
#next_3:has(>.I_block){
    top: -10.6dvh;
}
#next_4{
    top: -12dvh;
}
#next_4:has(>.I_block){
    top: -13.6dvh;
}
#next_5{
    top: -15dvh;
}
#next_5:has(>.I_block){
    top: -16.6dvh;
}
#levelBox, #scoreBox, #lineBox{
    margin-top: 0.2dvh;
    min-height: 5dvh;
    white-space: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}
#holdBuffer{
    width:100%;
    height: 4.8dvh;
}
#nextBuffer{
    width:100%;
    height: 3.6dvh;
}
#pauseSection{
    justify-content: end;
}
#pauseButton{
    margin-bottom: 3.6dvh;
    width: 50%;
    aspect-ratio: 1;
    background-color: rgb(80, 80, 80);
    border: 0.3dvh solid rgba(255, 255, 255, 1);
    border-radius: 17%;
    position: relative;
    text-decoration: none;
    overflow: hidden;
}
#pauseButton>div{
    width: 86%;
    aspect-ratio: 1;
    top: calc(7% - 0.3dvh);
    left: calc(7% - 0.3dvh);
    position: relative;
    border-radius: 15%;
    background-color: rgb(150, 150, 150);
    border: 0.4dvh solid rgb(80, 80, 80);
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.4));
    box-shadow: 0.4dvh 0.4dvh rgba(0, 0, 0, 0.3),
                -0.4dvh -0.4dvh rgba(255, 255, 255, 0.1);
    font-family: 'Segoe UI Symbol', sans-serif;
    line-height: 8.5dvh;
    color: white;
    text-shadow: 0.2dvh 0.2dvh rgba(0, 0, 0, 0.5);
}
#play_symbol{
    font-size: 5.4dvh;
}
#pause_symbol{
    font-size: 4.8dvh;
}
#pauseButton:hover{
    background-color: rgb(100, 100, 100);
}
#pauseButton:active{
    background-color: rgb(60, 60, 60);
}
#pauseButton:hover>div{
    top: calc(7% - 0.3dvh - 0.1dvh);
    left: calc(7% - 0.3dvh - 0.1dvh);
    border: 0.4dvh solid rgb(100, 100, 100);
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.2));
    box-shadow: 0.4dvh 0.4dvh rgba(0, 0, 0, 0.3),
                -0.4dvh -0.4dvh rgba(255, 255, 255, 0.1);
}
#pauseButton:active>div{
    top: calc(7% - 0.3dvh + 0.1dvh);
    left: calc(7% - 0.3dvh + 0.1dvh);
    border: 0.4dvh solid rgb(60, 60, 60);
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.5));
    box-shadow: 0.4dvh 0.4dvh rgba(0, 0, 0, 0.3),
                -0.4dvh -0.4dvh rgba(255, 255, 255, 0.1);
}
#musicBox{
    width: 86%;
    top: 89%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Arial, sans-serif;    
    line-height: 2.8dvh;  
}
#bgm_bgm{
    position: relative;
    font-size: 2.1dvh;
    color: black;
    text-shadow: 0.1dvh 0.1dvh rgba(0, 0, 0, 0.5);
}
#bgm_content{    
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#bgm_content>a{
    position: relative;
    width: 15%;
    text-decoration: none;
    font-size: 2.2dvh;
    color: black;
    text-shadow: 0.17dvh 0.17dvh rgba(0, 0, 0, 0.5);
}
#bgm_content>a:hover{
    top: -0.1dvh;
    left: -0.1dvh;
}
#bgm_content>a:active{
    top: 0.1dvh;
    left: 0.1dvh;
}
#nowPlaying{
    width: 70%;
    height: 2.8dvh;
    background-color: black;
    border: 0.3dvh solid white;
    border-radius: 1dvh;
    width: 68%;
    font-size: 2.1dvh;
    font-style: italic;
    color: white;
    text-shadow: 0.05dvh 0.05dvh rgba(255, 255, 255, 0.5);
    overflow: hidden;
}
#prevMusic, #nextMusic{
    font-family: 'Segoe UI Symbol', sans-serif;
}
#bgm_title{
    position: relative;
    animation-name: bgmAnimation;
    animation-duration: 7000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
@keyframes bgmAnimation {
    from {left: -100%;}
    to {left: 100%;}
}
#right_pad{
    position: absolute;
    top: 15dvh;
    width: 54dvh;
    left: calc(100dvw - 59dvh);
    display: flex;
    flex-direction: column;
    border: none;
}
#left_pad{
    position: absolute;
    top: 42dvh;
    width: 54dvh;
    left: 5dvh;
    display: flex;
    flex-direction: column;
    border: none;
}
.pad_row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#dir_pad{
    margin-top: 1.5dvh;
}
#sd_pad{
    justify-content: center;    
    position: relative;
    top: -1.8dvh;
}
.pad_button{
    width: 25.5dvh;
    aspect-ratio: 1;
    border: 0.3dvh solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 180, 180);
    opacity: 0.3;
}
.innerPad{
    width: 20dvh;
    aspect-ratio: 1;
    border: 0.5dvh solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI Symbol', sans-serif;
    font-weight: bold;
    font-size: 13dvh;
    white-space-collapse: preserve;
    text-wrap-mode: nowrap;
    overflow: hidden;
}
#innerPad_RL{
    rotate: -90deg;
}
#innerPad_RR{
    rotate: 90deg;
}
#innerPad_HD{
    flex-direction: column;
    line-height: 0;
}
#innerPad_HLD{
    flex-direction: column;
}
#combo_HLD{
    position: relative;
    top: 2dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 4.5dvh;
}
#box_HLD{
    font-size: 15dvh;
}
#arrow_HLD{
    font-size: 8.5dvh;
    color: rgb(50, 50, 50);
}
.instruction{
    position: absolute;
    width: calc(50dvw - 40dvh);
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#right_instruction{
    left: calc(50dvw + 40dvh);
}
.instructive_message{
    width: 60%;
    font-family: Arial;
    font-size: 3.8dvh;
    line-height: 3.7dvh;
    white-space-collapse: preserve;
}
.instructive_arrow{
    font-family: 'Segoe UI Symbol';
    font-size: 15dvh;
    line-height: 6dvh;
    white-space: nowrap;
    animation-name: colorful;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
@keyframes colorful{
    0% {color: red};
    50% {color: yellow;}
    100% {color: yellow};
}