:root{
    --tetris-red: rgb(196, 2, 51);
    --tetris-orange: rgb(255, 140, 0);
    --tetris-yellow: rgb(255, 211, 0);
    --tetris-green: rgb(0, 159, 107);
    --tetris-cyan: rgb(0, 135, 189);
    --tetris-blue: rgb(0, 82, 147);
    --tetris-purple: rgb(153, 50, 204);
}
*{
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body{
    width: 100dvh;
    aspect-ratio: 1;
    left: calc(50dvw - 50dvh);
    /* overflow: hidden; */
}
#home{
    width: 80dvh;
    height: 88dvh;
    left: calc(50dvw - 40dvh);
    top: 6dvh;
    position: absolute;
    border: 0.4dvh solid black;
    border-radius: 2%;
    overflow: hidden;
    text-align: center;
    background-color: rgb(30, 30, 30);
}
#home_logo{
    position: absolute;
    width: 76dvh;
    height: 76dvh;
    top: 4%;
    left: calc(50% - 38dvh);
    z-index: 0;
}
#upperBorderBox{
    position: absolute;
    width: calc(81% + 1.8dvh);
    height: calc(27% + 1.8dvh);
    left: calc(9.5% - 0.9dvh);
    top: calc(0% - 0.9dvh);
    background-color: rgb(0, 84, 127);
    background-image: linear-gradient(to right ,rgb(0, 108, 180), rgb(0, 54 , 90));
    z-index: -1;
}
#lowerBorderBox{
    position: absolute;
    width: calc(27% + 1.8dvh);
    height: 27%;
    left: calc(36.5% - 0.5dvh);
    top: calc(27% + 0.9dvh);
    background-color: rgb(0, 84, 127);
    background-image: linear-gradient(to right ,rgb(0, 90, 150), rgb(0, 72, 120));
    z-index: -1;
}
#outerUpperBox{
    position: absolute;
    width: 81%;
    height: 27%;
    left: calc(9.5% - 0.5dvh);
    top: calc(0% - 0.5dvh);
    border: 0.5dvh solid rgb(0, 84, 127);
    background-color: rgb(0, 84, 127);
    background-image: linear-gradient(rgb(0, 60, 100), rgb(0, 84, 140));
    z-index: -1;
}
#outerLowerBox{
    position: absolute;
    width: 27%;
    height: 27%;
    left: 36.5%;
    top: 26.8%;
    border: 0.5dvh solid rgb(0, 84, 127);
    border-top: none;
    background-color: rgb(0, 84, 127);
    background-image: linear-gradient(rgb(0, 84, 140), rgb(0, 108, 180));
    z-index: -1;
}
.logo_title{
    position: absolute;
    width: 75%;
    height: 21%;
    left: calc(12.5% - 0.4dvh);
    top: calc(3% - 0.4dvh);
    font-size: 16dvh;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 15dvh;
    letter-spacing: -0.2dvh;
}
#innerUpperBox{
    border: 0.4dvh solid rgb(0, 84, 127);
    background-image: linear-gradient(rgb(0, 36 , 60), rgb(0, 54, 90));
}
#textShadowBox{
    border: 0.4dvh solid transparent;
    background-image: radial-gradient(ellipse 99% 55% at 50% 84%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0) 51%, rgba(255, 255, 255, 0.2) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    overflow: hidden;
}
#innerUpperBox:after{
    content: '';
    position: absolute;
    width: calc(100% + 1.6dvh);
    height: calc(100% + 1.6dvh);
    left: -0.8dvh;
    top: -0.8dvh;
    background-image: linear-gradient(to right ,rgb(0, 108, 180), rgb(0, 54 , 90));
    z-index: -1;
}
#innerLowerBox{
    position: absolute;
    width: 21%;
    height: 27.1%;
    left: 39.5%;
    top: 23.9%;
    border: 0.4dvh solid rgb(0, 84, 127);
    border-top: none;
    background-color: rgb(0, 84, 127);
    background-image: linear-gradient(rgb(0, 54, 90), rgb(0, 72, 120));
}
#innerLowerBox:after{
    content: '';
    position: absolute;
    width: calc(100% + 1.6dvh);
    height: calc(100% + 0.8dvh);
    left: -0.8dvh;
    background-image: linear-gradient(to right ,rgb(0, 90, 150), rgb(0, 72, 120));
    z-index: -1;
}
#innerUpperBox span:nth-child(1){
    color: var(--tetris-red);
    text-shadow: 0 -0.2dvh rgba(255, 255, 255, 0.7),
                -0.2dvh 0 rgba(255, 255, 255, 0.7),
                -0.2dvh -0.2dvh rgba(255, 255, 255, 0.7),
                0 0.2dvh rgba(0, 0, 0, 0.4),
                0.2dvh 0 rgba(0, 0, 0, 0.4),
                0.2dvb 0.2dvh rgba(0, 0, 0, 0.4),               
                -0.27dvh 0 var(--tetris-red),
                0 -0.27dvh var(--tetris-red),
                -0.27dvh -0.27dvh var(--tetris-red),
                0.27dvh 0 var(--tetris-red),
                0 0.27dvh var(--tetris-red),
                -0.27dvh 0.27dvh var(--tetris-red),
                0.27dvh -0.27dvh var(--tetris-red),
                0.27dvh 0.27dvh var(--tetris-red);
}
#innerUpperBox span:nth-child(2){
    color: var(--tetris-orange);
    text-shadow: 0 -0.2dvh rgba(255, 255, 255, 0.7),
                -0.2dvh 0 rgba(255, 255, 255, 0.7),
                -0.2dvh -0.2dvh rgba(255, 255, 255, 0.7),
                0 0.2dvh rgba(0, 0, 0, 0.4),
                0.2dvh 0 rgba(0, 0, 0, 0.4),
                0.2dvb 0.2dvh rgba(0, 0, 0, 0.4),               
                -0.27dvh 0 var(--tetris-orange),
                0 -0.27dvh var(--tetris-orange),
                -0.27dvh -0.27dvh var(--tetris-orange),
                0.27dvh 0 var(--tetris-orange),
                0 0.27dvh var(--tetris-orange),
                -0.27dvh 0.27dvh var(--tetris-orange),
                0.27dvh -0.27dvh var(--tetris-orange),
                0.27dvh 0.27dvh var(--tetris-orange);
}
#innerUpperBox:not(:has(>span:nth-child(5))) span:nth-child(2){
    color: var(--tetris-yellow);
    text-shadow: 0 -0.2dvh rgba(255, 255, 255, 0.7),
                -0.2dvh 0 rgba(255, 255, 255, 0.7),
                -0.2dvh -0.2dvh rgba(255, 255, 255, 0.7),
                0 0.2dvh rgba(0, 0, 0, 0.4),
                0.2dvh 0 rgba(0, 0, 0, 0.4),
                0.2dvb 0.2dvh rgba(0, 0, 0, 0.4),               
                -0.27dvh 0 var(--tetris-yellow),
                0 -0.27dvh var(--tetris-yellow),
                -0.27dvh -0.27dvh var(--tetris-yellow),
                0.27dvh 0 var(--tetris-yellow),
                0 0.27dvh var(--tetris-yellow),
                -0.27dvh 0.27dvh var(--tetris-yellow),
                0.27dvh -0.27dvh var(--tetris-yellow),
                0.27dvh 0.27dvh var(--tetris-yellow);
}
#innerUpperBox span:nth-child(3){
    color: var(--tetris-yellow);
    text-shadow: 0 -0.2dvh rgba(255, 255, 255, 0.7),
                -0.2dvh 0 rgba(255, 255, 255, 0.7),
                -0.2dvh -0.2dvh rgba(255, 255, 255, 0.7),
                0 0.2dvh rgba(0, 0, 0, 0.4),
                0.2dvh 0 rgba(0, 0, 0, 0.4),
                0.2dvb 0.2dvh rgba(0, 0, 0, 0.4),               
                -0.27dvh 0 var(--tetris-yellow),
                0 -0.27dvh var(--tetris-yellow),
                -0.27dvh -0.27dvh var(--tetris-yellow),
                0.27dvh 0 var(--tetris-yellow),
                0 0.27dvh var(--tetris-yellow),
                -0.27dvh 0.27dvh var(--tetris-yellow),
                0.27dvh -0.27dvh var(--tetris-yellow),
                0.27dvh 0.27dvh var(--tetris-yellow);
}
#innerUpperBox:not(:has(>span:nth-child(5))) span:nth-child(3){
    color: var(--tetris-green);
    text-shadow: 0 -0.2dvh rgba(255, 255, 255, 0.7),
                -0.2dvh 0 rgba(255, 255, 255, 0.7),
                -0.2dvh -0.2dvh rgba(255, 255, 255, 0.7),
                0 0.2dvh rgba(0, 0, 0, 0.4),
                0.2dvh 0 rgba(0, 0, 0, 0.4),
                0.2dvb 0.2dvh rgba(0, 0, 0, 0.4),               
                -0.27dvh 0 var(--tetris-green),
                0 -0.27dvh var(--tetris-green),
                -0.27dvh -0.27dvh var(--tetris-green),
                0.27dvh 0 var(--tetris-green),
                0 0.27dvh var(--tetris-green),
                -0.27dvh 0.27dvh var(--tetris-green),
                0.27dvh -0.27dvh var(--tetris-green),
                0.27dvh 0.27dvh var(--tetris-green);
}
#innerUpperBox span:nth-child(4){
    color: var(--tetris-green);
    text-shadow: 0 -0.2dvh rgba(255, 255, 255, 0.7),
                -0.2dvh 0 rgba(255, 255, 255, 0.7),
                -0.2dvh -0.2dvh rgba(255, 255, 255, 0.7),
                0 0.2dvh rgba(0, 0, 0, 0.4),
                0.2dvh 0 rgba(0, 0, 0, 0.4),
                0.2dvb 0.2dvh rgba(0, 0, 0, 0.4),               
                -0.27dvh 0 var(--tetris-green),
                0 -0.27dvh var(--tetris-green),
                -0.27dvh -0.27dvh var(--tetris-green),
                0.27dvh 0 var(--tetris-green),
                0 0.27dvh var(--tetris-green),
                -0.27dvh 0.27dvh var(--tetris-green),
                0.27dvh -0.27dvh var(--tetris-green),
                0.27dvh 0.27dvh var(--tetris-green);
}
#innerUpperBox:not(:has(>span:nth-child(5))) span:nth-child(4){
    color: var(--tetris-blue);
    text-shadow: 0 -0.2dvh rgba(255, 255, 255, 0.7),
                -0.2dvh 0 rgba(255, 255, 255, 0.7),
                -0.2dvh -0.2dvh rgba(255, 255, 255, 0.7),
                0 0.2dvh rgba(0, 0, 0, 0.4),
                0.2dvh 0 rgba(0, 0, 0, 0.4),
                0.2dvb 0.2dvh rgba(0, 0, 0, 0.4),               
                -0.27dvh 0 var(--tetris-blue),
                0 -0.27dvh var(--tetris-blue),
                -0.27dvh -0.27dvh var(--tetris-blue),
                0.27dvh 0 var(--tetris-blue),
                0 0.27dvh var(--tetris-blue),
                -0.27dvh 0.27dvh var(--tetris-blue),
                0.27dvh -0.27dvh var(--tetris-blue),
                0.27dvh 0.27dvh var(--tetris-blue);
}
#innerUpperBox span:nth-child(5){
    color: var(--tetris-blue);
    text-shadow: 0 -0.2dvh rgba(255, 255, 255, 0.7),
                -0.2dvh 0 rgba(255, 255, 255, 0.7),
                -0.2dvh -0.2dvh rgba(255, 255, 255, 0.7),
                0 0.2dvh rgba(0, 0, 0, 0.4),
                0.2dvh 0 rgba(0, 0, 0, 0.4),
                0.2dvb 0.2dvh rgba(0, 0, 0, 0.4),               
                -0.27dvh 0 var(--tetris-blue),
                0 -0.27dvh var(--tetris-blue),
                -0.27dvh -0.27dvh var(--tetris-blue),
                0.27dvh 0 var(--tetris-blue),
                0 0.27dvh var(--tetris-blue),
                -0.27dvh 0.27dvh var(--tetris-blue),
                0.27dvh -0.27dvh var(--tetris-blue),
                0.27dvh 0.27dvh var(--tetris-blue);
}
#innerUpperBox span:nth-child(6){
    color: var(--tetris-purple);
    text-shadow: 0 -0.2dvh rgba(255, 255, 255, 0.7),
                -0.2dvh 0 rgba(255, 255, 255, 0.7),
                -0.2dvh -0.2dvh rgba(255, 255, 255, 0.7),
                0 0.2dvh rgba(0, 0, 0, 0.4),
                0.2dvh 0 rgba(0, 0, 0, 0.4),
                0.2dvb 0.2dvh rgba(0, 0, 0, 0.4),               
                -0.27dvh 0 var(--tetris-purple),
                0 -0.27dvh var(--tetris-purple),
                -0.27dvh -0.27dvh var(--tetris-purple),
                0.27dvh 0 var(--tetris-purple),
                0 0.27dvh var(--tetris-purple),
                -0.27dvh 0.27dvh var(--tetris-purple),
                0.27dvh -0.27dvh var(--tetris-purple),
                0.27dvh 0.27dvh var(--tetris-purple);
}
#home_menu{
    position: relative;
    width: 45%;
    left: 27.5%;
    top: 54%;
}
.home_button{
    display: block;
    margin-top: 1.5dvh;
    position: relative;
    width: 25.2dvh;
    left: calc(50% - 12.6dvh - 0.2dvh);
    aspect-ratio: 4.5/1;
    border-radius: 1.5dvh;
    border: 0.3dvh solid rgb(80, 80, 80);
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.4));
    text-decoration: none;
}
.home_button:hover{
    border: 0.3dvh solid rgb(100, 100, 100);
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.2));
}
.home_button:active{
    border: 0.3dvh solid rgb(60, 60, 60);
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.5));
}
.home_button>span{
    display: block;
    position: relative;
    line-height: calc(25.2dvh / 4.5);
    font-size: 2.8dvh;
    font-weight: 700;
    color: white;
    text-shadow: 0.17dvh 0.17dvh rgba(0, 0, 0, 0.5);
}
.home_button:hover>span{
    top: -0.1dvh;
    left: -0.1dvh;
}
.home_button:active>span{
    top: 0.1dvh;
    left: 0.1dvh;
}
#level_button{
    margin-top: 1.5dvh;
    position: relative;
    width: 90%;
    aspect-ratio: 6/1;
    left: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
#levelup{
    width: 22.8dvh;
    margin-top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}
#levelup>span{
    line-height: calc(22.8dvh / 4.5);
    font-size: 2.5dvh;
}
.arrow_button{
    position: relative;
    text-decoration: none;
}
.arrow_button>span{
    position: relative;
    top: -0.3dvh;
    display: flex;
    font-size: 4dvh;
    align-items: center;
    justify-items: center;
    color: transparent;
}
.left_arrow>span, .right_arrow>span{
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.4));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.left_arrow:hover>span, .right_arrow:hover>span{
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.2));
    top: -0.4dvh;
    left: -0.1dvh;
}
.left_arrow:active>span, .right_arrow:active>span{
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.4));
    top: -0.2dvh;
    left: 0.1dvh;
}
#home_button_background{
    width: 90%;
    aspect-ratio: 6/1;
    left: 5%;
    margin-top: 1.5dvh;
}
.button_background{    
    position: absolute;    
    display: flex;
    justify-content: space-between;
}
.button_background>span{
    position: relative;
    top: -0.3dvh;
    display: flex;
    font-size: 4dvh;
    align-items: center;
    justify-items: center;
    color: rgb(30, 30, 30);
    text-shadow: 0.2dvh 0 rgb(80, 80, 80),
                0 0.2dvh rgb(80, 80, 80),
                0.2dvh 0.2dvh rgb(80, 80, 80),
                -0.2dvh 0 rgb(80, 80, 80),
                0 -0.2dvh rgb(80, 80, 80),
                -0.2dvh -0.2dvh rgb(80, 80, 80),
                0.2dvh -0.2dvh rgb(80, 80, 80),
                -0.2dvh 0.2dvh rgb(80, 80, 80);
}
.button_background:has(+ div>.left_arrow:hover)>span:nth-child(1){
    top: -0.4dvh;
    left: -0.1dvh;
}
.button_background:has(+ div>.right_arrow:hover)>span:nth-child(2){
    top: -0.4dvh;
    left: -0.1dvh;
}
.button_background:has(+ div>.left_arrow:active)>span:nth-child(1){
    top: -0.2dvh;
    left: 0.1dvh;
}
.button_background:has(+ div>.right_arrow:active)>span:nth-child(2){
    top: -0.2dvh;
    left: 0.1dvh;
}
#loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80dvh;
    height: 88dvh;
    left: calc(50dvw - 40dvh);
    top: 6dvh;
    position: absolute;
    border: 0.4dvh solid black;
    border-radius: 2%;
    overflow: hidden;
    text-align: center;
    background-color: rgb(30, 30, 30);
}
.circle{
    position: absolute;    
    aspect-ratio: 1;
    border-radius: 50%;
}
#innerCircle{
    width: 27%;
    background-color: rgb(30, 30, 30);
    border: 0.5dvh solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#outerCircle{
    width: 30%;
    border: 2dvh solid transparent;
    background-image: linear-gradient(rgb(30, 30, 30), rgb(30, 30, 30)), conic-gradient(
                    transparent 0% 7%, 
                    var(--tetris-red) 7% calc(100%/3 - 7%),
                    transparent calc(100%/3 - 7%) calc(100%/3 + 7%),
                    var(--tetris-green) calc(100%/3 + 7%) calc(200%/3 - 7%),
                    transparent calc(200%/3 - 7%) calc(200%/3 + 7%),
                    var(--tetris-blue) calc(200%/3 + 7%) 93%,
                    transparent 93% 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation-name: rotation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}
@keyframes rotation {
    from {rotate: 0deg;}
    to {rotate: 360deg;}
}
#t_mino{
    width: 62%;
    aspect-ratio: 1;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}
.loadText{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.7dvh;
    color: white;
    letter-spacing: -0.1dvh;
    text-shadow: 0.2dvh 0.2dvh rgba(127, 127, 127, 0.5);
}
.loadKorean{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 3dvh;
    letter-spacing: 0dvh;
}
.loadOldKorean{
    font-family: 'Noto Serif KR', sans-serif;
    font-size: 3dvh;
    letter-spacing: 0dvh;
}