*{
    padding: 0px;
    margin: 0px;
}
h1{
    text-align: center;
    position: relative;
    top: 1dvh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8dvh;
    font-weight: 900;
    letter-spacing: 0.4dvh;
}
h1 span:nth-child(1){
    color: rgb(196, 2, 51);
    text-shadow: 0 -0.2dvh rgba(255, 255, 255, 0.7),
                -0.2dvh 0 rgba(255, 255, 255, 0.7),
                -0.2dvh -0.2dvh rgba(255, 255, 255, 0.7),
                0 0.2dvh rgba(0, 0, 0, 0.4),
                0.2dvh 0 rgba(0, 0, 0, 0.4),
                0.2dvb 0.2dvh rgba(0, 0, 0, 0.4),               
                -0.27dvh 0 rgb(196, 2, 51),
                0 -0.27dvh rgb(196, 2, 51),
                -0.27dvh -0.27dvh rgb(196, 2, 51),
                0.27dvh 0 rgb(196, 2, 51),
                0 0.27dvh rgb(196, 2, 51),
                -0.27dvh 0.27dvh rgb(196, 2, 51),
                0.27dvh -0.27dvh rgb(196, 2, 51),
                0.27dvh 0.27dvh rgb(196, 2, 51);
}
h1 span:nth-child(2){
    color: rgb(255, 140, 0);
    text-shadow: 0 -0.2dvh rgba(255, 255, 255, 0.7),
                -0.2dvh 0 rgba(255, 255, 255, 0.7),
                -0.2dvh -0.2dvh rgba(255, 255, 255, 0.7),
                0 0.2dvh rgba(0, 0, 0, 0.4),
                0.2dvh 0 rgba(0, 0, 0, 0.4),
                0.2dvb 0.2dvh rgba(0, 0, 0, 0.4),               
                -0.27dvh 0 rgb(255, 140, 0),
                0 -0.27dvh rgb(255, 140, 0),
                -0.27dvh -0.27dvh rgb(255, 140, 0),
                0.27dvh 0 rgb(255, 140, 0),
                0 0.27dvh rgb(255, 140, 0),
                -0.27dvh 0.27dvh rgb(255, 140, 0),
                0.27dvh -0.27dvh rgb(255, 140, 0),
                0.27dvh 0.27dvh rgb(255, 140, 0);
}
h1 span:nth-child(3){
    color: rgb(255, 211, 0);
    text-shadow: 0 -0.2dvh rgba(255, 255, 255, 0.7),
                -0.2dvh 0 rgba(255, 255, 255, 0.7),
                -0.2dvh -0.2dvh rgba(255, 255, 255, 0.7),
                0 0.2dvh rgba(0, 0, 0, 0.4),
                0.2dvh 0 rgba(0, 0, 0, 0.4),
                0.2dvb 0.2dvh rgba(0, 0, 0, 0.4),               
                -0.27dvh 0 rgb(255, 211, 0),
                0 -0.27dvh rgb(255, 211, 0),
                -0.27dvh -0.27dvh rgb(255, 211, 0),
                0.27dvh 0 rgb(255, 211, 0),
                0 0.27dvh rgb(255, 211, 0),
                -0.27dvh 0.27dvh rgb(255, 211, 0),
                0.27dvh -0.27dvh rgb(255, 211, 0),
                0.27dvh 0.27dvh rgb(255, 211, 0);
}
h1 span:nth-child(4){
    color: rgb(0, 159, 107);
    text-shadow: 0 -0.2dvh rgba(255, 255, 255, 0.7),
                -0.2dvh 0 rgba(255, 255, 255, 0.7),
                -0.2dvh -0.2dvh rgba(255, 255, 255, 0.7),
                0 0.2dvh rgba(0, 0, 0, 0.4),
                0.2dvh 0 rgba(0, 0, 0, 0.4),
                0.2dvb 0.2dvh rgba(0, 0, 0, 0.4),               
                -0.27dvh 0 rgb(0, 159, 107),
                0 -0.27dvh rgb(0, 159, 107),
                -0.27dvh -0.27dvh rgb(0, 159, 107),
                0.27dvh 0 rgb(0, 159, 107),
                0 0.27dvh rgb(0, 159, 107),
                -0.27dvh 0.27dvh rgb(0, 159, 107),
                0.27dvh -0.27dvh rgb(0, 159, 107),
                0.27dvh 0.27dvh rgb(0, 159, 107);
}
h1 span:nth-child(5){
    color: rgb(0, 82, 147);
    text-shadow: 0 -0.2dvh rgba(255, 255, 255, 0.7),
                -0.2dvh 0 rgba(255, 255, 255, 0.7),
                -0.2dvh -0.2dvh rgba(255, 255, 255, 0.7),
                0 0.2dvh rgba(0, 0, 0, 0.4),
                0.2dvh 0 rgba(0, 0, 0, 0.4),
                0.2dvb 0.2dvh rgba(0, 0, 0, 0.4),               
                -0.27dvh 0 rgb(0, 82, 147),
                0 -0.27dvh rgb(0, 82, 147),
                -0.27dvh -0.27dvh rgb(0, 82, 147),
                0.27dvh 0 rgb(0, 82, 147),
                0 0.27dvh rgb(0, 82, 147),
                -0.27dvh 0.27dvh rgb(0, 82, 147),
                0.27dvh -0.27dvh rgb(0, 82, 147),
                0.27dvh 0.27dvh rgb(0, 82, 147);
}
h1 span:nth-child(6){
    color: rgb(153, 50, 204);
    text-shadow: 0 -0.2dvh rgba(255, 255, 255, 0.7),
                -0.2dvh 0 rgba(255, 255, 255, 0.7),
                -0.2dvh -0.2dvh rgba(255, 255, 255, 0.7),
                0 0.2dvh rgba(0, 0, 0, 0.4),
                0.2dvh 0 rgba(0, 0, 0, 0.4),
                0.2dvb 0.2dvh rgba(0, 0, 0, 0.4),               
                -0.27dvh 0 rgb(153, 50, 204),
                0 -0.27dvh rgb(153, 50, 204),
                -0.27dvh -0.27dvh rgb(153, 50, 204),
                0.27dvh 0 rgb(153, 50, 204),
                0 0.27dvh rgb(153, 50, 204),
                -0.27dvh 0.27dvh rgb(153, 50, 204),
                0.27dvh -0.27dvh rgb(153, 50, 204),
                0.27dvh 0.27dvh rgb(153, 50, 204);
}
.container{
    width: 80dvh;
    height: 80dvh;
    left: calc(50dvw - 40dvh);
    top: 13dvh;
    position: absolute;
    border: 3px solid black;
    border-radius: 2%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 3fr 1.2fr 1.2fr 1.2fr 2.4fr;
    text-align: center;
}
.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.7dvh;
    font-weight: bold;
    letter-spacing: 0.1dvh;
    text-shadow: 0.15dvh 0.15dvh rgba(100, 100, 100, 0.5);
}
.content{
    padding-top: 1dvh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.2dvh;
    font-weight: bold;
    color: rgb(196, 2, 51);
    letter-spacing: 0.1dvh;
}
.layer{
    width: 40dvh;
    height: 80dvh;
    left: calc(50dvw - 20dvh);
    top: 13dvh;
    position: absolute;
    border: 3px solid rgba(0,0,0,0);
    text-align: center;
}
.item{
    position: relative;
    overflow: hidden;
}
#background{
    background-color: rgb(169, 169, 169);
    box-shadow: 0.4dvh 0.4dvh 1dvh rgb(0, 0, 0),
    -0.4dvh -0.4dvh rgb(80, 80, 80),
    -0.4dvh 0.4dvh rgb(50, 50, 50),
    0.4dvh -0.4dvh rgb(50, 50, 50),
    0.4dvh 0 rgb(50, 50, 50),
    0 0.4dvh rgb(50, 50, 50),
    -0.4dvh 0 rgb(50, 50, 50),
    0 -0.4dvh rgb(50, 50, 50);
}
#boardSection, #centerBackground{
    border-left: 3px solid black;
    border-right: 3px solid black;
    grid-column: 2/3;
    grid-row: 1/6;
}
#nextSection, #rightBackground{
    grid-column: 3/4;
    grid-row: 1/6;
}
#leftBackground{
    grid-column: 1/2;
    grid-row: 1/6;
}
.board{
    display: grid;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: relative;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
}
#backBoard{
    background-color: rgb(128, 128, 128);
    /* background-color: rgb(0, 0, 0); */
}
.grid{
    border: 1px dotted rgb(70, 70, 70);
    /* border: 1px dotted rgb(50, 50, 50); */
}
.block{
    border: 1px dotted rgb(0, 0, 0);
    overflow: hidden;
}
.blank{
    border: 1px dotted rgba(0,0,0,0);
}
.small_board{
    width: 64%;
    aspect-ratio: 1;
    left: 18%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.O_block{
    background-color: rgb(255, 211, 0);
}
.L_block{
    background-color: rgb(255, 140, 0);
}
.J_block{
    background-color: rgb(0, 82, 147);
}
.I_block{
    background-color: rgb(0, 135, 189);
}
.S_block{
    background-color: rgb(0, 159, 107);
}
.Z_block{
    background-color: rgb(196, 2, 51);
}
.T_block{
    background-color: rgb(153, 50, 204);
}
.white{
    background-color: rgb(255, 255, 255);
}
.shadow{
    opacity: 0.4;
}
.innerBlock{
    position: relative;
    width: 84%;
    height: 84%;
    left: 8%;
    top: 8%;
    box-shadow: 2px 2px rgba(0,0,0,0.5),
                -2px -2px rgba(255,255,255,0.5);
}
.blackBox{
    width: 80%;
    left: 10%;
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
    position: absolute;
}
#holdBox{    
    aspect-ratio: 1;    
}
#nextBox{
    aspect-ratio: 1/3.3;
}
#levelBox, #scoreBox, #lineBox{
    margin-top: 0.2dvh;
    height: 5dvh;
}
#holdBuffer{
    width:100%;
    height: 4.8dvh;
}
#nextBuffer{
    width:100%;
    height: 3.6dvh;
}
#textLayer p{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 900;
    top: 50%;
}
#textLayer .combo{
    font-size: 2.8dvh;
    color: rgb(196, 2, 51);
    text-shadow: 0.1dvh 0.1dvh rgba(0, 0, 0, 1),
                0.15dvh 0.15dvh 5px rgba(255, 255, 255, 1),
                -0.15dvh -0.15dvh 5px rgba(255, 255, 255, 1);
}
#textLayer .lineClear{
    font-size: 2.6dvh;
    color: rgb(0, 135, 189);
    text-shadow: 0.06dvh 0.06dvh rgba(0, 0, 0, 1),
                0.1dvh 0.1dvh 3px rgba(255, 255, 255, 1),
                -0.08dvh -0.08dvh 3px rgba(255, 255, 255, 1);
}
#textLayer .tetris{
    font-size: 2.8dvh;
    color: rgb(255, 140, 0);
    text-shadow: 0.1dvh 0.1dvh rgba(0, 0, 0, 1),
                0.15dvh 0.15dvh 5px rgba(255, 255, 255, 1),
                -0.15dvh -0.15dvh 5px rgba(255, 255, 255, 1);
}
#textLayer .tspin{
    font-size: 2.8dvh;
    color: rgb(153, 50, 204);
    text-shadow: 0.1dvh 0.1dvh rgba(0, 0, 0, 1),
                0.15dvh 0.15dvh 5px rgba(255, 255, 255, 1),
                -0.15dvh -0.15dvh 5px rgba(255, 255, 255, 1);
}
#textLayer .backtoback{
    font-size: 2.8dvh;
    line-height: 3dvh;
    color: rgb(0, 159, 107);
    text-shadow: 0.1dvh 0.1dvh rgba(0, 0, 0, 1),
                0.15dvh 0.15dvh 5px rgba(255, 255, 255, 1),
                -0.15dvh -0.15dvh 5px rgba(255, 255, 255, 1);
}
#textLayer .perfect{
    font-size: 3.7dvh;
    color: rgb(255, 211, 0);
    text-shadow: 0.1dvh 0.1dvh rgba(0, 0, 0, 1),
                0.2dvh 0.2dvh 5px rgba(255, 255, 255, 1),
                -0.2dvh -0.2dvh 5px rgba(255, 255, 255, 1);
}
#textLayer .point{
    padding-bottom: 1.5dvh;
    font-size: 2.5dvh;
    text-shadow: 0.1dvh 0.1dvh 3px rgba(255, 255, 255, 1);
}
#textLayer .bonus{
    padding-bottom: 1.5dvh;
    font-size: 3dvh;
    text-shadow: 0.2dvh 0.2dvh 3px rgba(255, 255, 255, 1);
}
#textLayer .levelup{
    font-size: 3.7dvh;
    color: rgb(0, 0, 0);
    text-shadow: 0.2dvh 0.2dvh 5px rgba(255, 255, 255, 1),
                -0.2dvh -0.2dvh 5px rgba(255, 255, 255, 1);
}
#textLayer .information{
    font-size: 5dvh;
    color: rgb(0, 0, 0);
    text-shadow: 0.28dvh 0 rgba(255, 255, 255, 1),
                0 0.28dvh rgba(255, 255, 255, 1),
                -0.28dvh 0 rgba(255, 255, 255, 1),
                0 -0.28dvh rgba(255, 255, 255, 1),
                0.28dvh 0.28dvh rgba(255, 255, 255, 1),
                -0.28dvh 0.28dvh rgba(255, 255, 255, 1),
                0.28dvh -0.28dvh rgba(255, 255, 255, 1),
                -0.28dvh -0.28dvh rgba(255, 255, 255, 1);
}
.modal{
    width: 100dvw;
    height: 100dvh;
    top: 0px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}
.modal_window{
    width: 32dvh;
    height: 50dvh;
    left: calc(50dvw - 16dvh);
    top: 28dvh;
    position: absolute;
    border: 3px solid rgba(0,0,0,0);
    border-radius: 20px;
    background-color: rgb(180, 180, 180);    
}
.modal_window>div{
    position: relative;
    width: calc(100% - 0.2dvh);
    height: calc(100% - 0.2dvh);
    top: 0.1dvh;
    left: 0.1dvh;
    border-radius: 20px;
    background-color: rgb(180, 180, 180);
    box-shadow: 0.5dvh 0.5dvh rgba(0, 0, 0, 0.2),
                -0.5dvh -0.5dvh rgba(255, 255, 255, 0.2);
}
.modal_window>div>div{
    position: relative;
    width: calc(100% - 3dvh);
    height: calc(100% - 3dvh);
    top: 0.5dvh;
    left: 0.5dvh;
    border: 1dvh solid rgb(80, 80, 80);
    border-radius: 20px;
    background-color: rgb(30, 30, 30);
    text-align: center;
}
.modal_title{
    padding-top: 3.2dvh;
    padding-bottom: 1.5dvh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.4dvh;
    font-weight: bold;
    color: white;
    letter-spacing: 0.2dvh;
    text-shadow: 0.17dvh 0.17dvh rgba(200, 200, 200, 0.5);
}
.modal_button{
    display: block;
    margin-top: 1.5dvh;
    position: relative;
    width: 70%;
    left: calc(15% - 1px);
    aspect-ratio: 4/1;
    border-radius: 12px;
    border: 2px solid rgb(80, 80, 80);
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.4));
    text-decoration: none;
}
.modal_button:hover{
    border: 2px solid rgb(100, 100, 100);
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.2));
}
.modal_button>span{
    position: relative;
    top: 0.9dvh;
    font-size: 2.3dvh;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 0.17dvh 0.17dvh rgba(0, 0, 0, 0.5);
}
.modal_button:hover>span{
    top: 0.75dvh;
}