*{
    padding: 0px;
    margin: 0px;
    font-size: 2.3dvh;
}
.container{
    width: 80dvh;
    height: 80dvh;
    left: calc(50dvw - 40dvh);
    top: 10dvh;
    position: absolute;
    background-color: yellowgreen;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr 2fr;
    text-align: center;
}
.item{
    border-style: solid;
    border-width: 1px;
    position: relative;    
}
.item:nth-child(1){
    grid-row: 1/4;
}
.board{
    display: grid;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    position: relative;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(15, 1fr);    
}
.block{
    background-color: aqua;
    border-style: dotted;
    border-width: 1px;
}
.small_board{
    display: grid;
    width: 70%;
    height: 70%;
    left: 15%;
    position: relative;
    border: 1px solid black;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
}
.small_block{
    background-color: blueviolet;
    border-style: dotted;
    border-width: 1px;
}
.o_block{
    background-color: chocolate;
}
.l_block{
    background-color: crimson;
}
.j_block{
    background-color: darkgreen;
}
.i_block{
    background-color: darkorchid;
}
.s_block{
    background-color: dodgerblue;
}
.z_block{
    background-color: darkcyan;
}
.t_block{
    background-color: goldenrod;
}
