*{
    padding: 0px;
    margin: 0px;
}
h1{
    text-align: center;
    position: relative;
    top: 2dvh;
    font-size: 7dvh;
    text-shadow: 0.4dvh 0.4dvh rgba(0, 0, 0, 0.5);
    letter-spacing: 1dvh;
}
.container{
    width: 80dvh;
    height: 80dvh;
    left: calc(50dvw - 40dvh);
    top: 13dvh;
    position: absolute;
    border: 2px solid black;
    box-shadow: 3px 3px 5px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 3fr 1.2fr 1.2fr 1.2fr 2.4fr;
    text-align: center;    
}
.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5dvh;
    font-weight: bold;
    letter-spacing: 0.1dvh;
    text-shadow: 0.14dvh 0.14dvh rgba(0, 0, 0, 0.5);
}
.content{
    padding-top: 0.8dvh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.4dvh;
    font-weight: bold;
    color: rgb(196, 2, 51);
    letter-spacing: 0.1dvh;
    /* text-shadow: 0.14dvh 0.14dvh rgba(196, 2, 51, 0.5); */
}
.layer{
    width: 40dvh;
    height: 80dvh;
    left: calc(50dvw - 20dvh);
    top: 13dvh;
    position: absolute;
    border: 2px solid rgba(0,0,0,0);
}
.item{
    background-color: darkgrey;
    /* border: 1px solid black; */
    position: relative;    
}
#boardSection{
    border-left: 2px solid black;
    border-right: 2px solid black;
    grid-column: 2/3;
    grid-row: 1/6;
}
#nextSection{
    grid-column: 3/4;
    grid-row: 1/6;
}
.board{
    display: grid;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: relative;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
}
#backBoard{
    background-color: rgb(128, 128, 128);
}
.grid{
    border: 1px dotted rgb(70, 70, 70);
}
.block{
    border: 1px dotted rgb(0, 0, 0);
}
.blank{
    border: 1px dotted rgba(0,0,0,0);
}
.small_board{
    display: grid;
    width: 64%;
    aspect-ratio: 1;
    left: 18%;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.o_block{
    background-color: rgb(255, 211, 0);
}
.l_block{
    background-color: rgb(255, 140, 0);
}
.j_block{
    background-color: rgb(0, 82, 147);
}
.i_block{
    background-color: rgb(0, 135, 189);
}
.s_block{
    background-color: rgb(0, 159, 107);
}
.z_block{
    background-color: rgb(196, 2, 51);
}
.t_block{
    background-color: rgb(153, 50, 204);
}
.white{
    background-color: rgb(255, 255, 255);
}
.shadow{
    opacity: 0.4;
}
.innerBlock{
    position: relative;
    width: 84%;
    height: 84%;
    left: 8%;
    top: 8%;
    box-shadow: 2px 2px rgba(0,0,0,0.5), -2px -2px rgba(255,255,255,0.5);
}
.blackBox{
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
    position: absolute;
}
#holdBox{
    width: 80%;
    aspect-ratio: 1;
    left: 10%;
}
#nextBox{
    width: 80%;
    aspect-ratio: 1/3.3;
    left:10%;
}
#holdBuffer{
    width:100%;
    height: 4.8dvh;
}
#nextBuffer{
    width:100%;
    height: 3.6dvh;
}
#textLayer{
    width: 100dvw;
    height: 100dvh;
    top: 0px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    
}
#textBoard{
    text-align: center;
    top: 40dvh;
    position: relative;
    font-size: 6dvh;
    font-style: italic;
    font-weight: bold;
    text-shadow: 0.3dvh 0.3dvh rgba(255, 255, 255, 0.5);
    letter-spacing: 1dvh;
}