.modal{
    width: 100dvw;
    height: 100dvh;
    top: 0px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}
.modal_window{
    position: absolute;
    border: 3px solid rgba(0,0,0,0);
    border-radius: 20px;
    background-color: rgb(180, 180, 180);    
}
.of_pause{
    width: 36dvh;
    height: 50dvh;
    left: calc(50dvw - 18dvh);
    top: 28dvh;
}
.of_gameover{
    width: 36dvh;
    height: 50dvh;
    left: calc(50dvw - 18dvh);
    top: 28dvh;
}
.of_quit{
    width: 36dvh;
    height: 30dvh;
    left: calc(50dvw - 18dvh);
    top: 35dvh;
}
.of_highscore{
    width: 65dvh;
    height: 74dvh;
    left: calc(50dvw - 32.5dvh);
    top: 15dvh;
}
.of_newRecord{
    width: 36dvh;
    height: 34.5dvh;
    left: calc(50dvw - 18dvh);
    top: 35dvh;
}
.modal_window>div{
    position: relative;
    width: calc(100% - 0.2dvh);
    height: calc(100% - 0.2dvh);
    top: 0.1dvh;
    left: 0.1dvh;
    border-radius: 20px;
    background-color: rgb(180, 180, 180);
    box-shadow: 0.5dvh 0.5dvh rgba(0, 0, 0, 0.2),
                -0.5dvh -0.5dvh rgba(255, 255, 255, 0.2);
}
.modal_window>div>div{
    position: relative;
    width: calc(100% - 3dvh);
    height: calc(100% - 3dvh);
    top: 0.5dvh;
    left: 0.5dvh;
    border: 1dvh solid rgb(80, 80, 80);
    border-radius: 20px;
    background-color: rgb(30, 30, 30);
    text-align: center;
}
.modal_title{
    padding-top: 3.2dvh;
    padding-bottom: 1.5dvh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.4dvh;
    font-weight: bold;
    color: white;
    letter-spacing: 0.2dvh;
    text-shadow: 0.17dvh 0.17dvh rgba(200, 200, 200, 0.5);
}
.modal_button{
    display: block;
    margin-top: 1.6dvh;
    position: relative;
    width: 70%;
    left: calc(15% - 1px);
    aspect-ratio: 4.5/1;
    border-radius: 12px;
    border: 2px solid rgb(80, 80, 80);
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.4));
    text-decoration: none;
}
.modal_button:hover{
    border: 2px solid rgb(100, 100, 100);
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.2));
}
.modal_button:active{
    border: 2px solid rgb(60, 60, 60);
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.5));
}
.modal_button>span{
    position: relative;
    top: 0.9dvh;
    font-size: 2.3dvh;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 0.17dvh 0.17dvh rgba(0, 0, 0, 0.5);
}
.modal_button:hover>span{
    top: 0.75dvh;
}
.modal_button:active>span{
    top: 1.05dvh;
}
.scoreOK{
    margin-top: 3dvh;
    width: 25%;
    left: calc(37.5% - 1px);
    aspect-ratio: 3/1;
    border-radius: 10px;
}
#score_table{
    position: relative;
    width: 95%;
    left: 2.5%;
    top: 1dvh;
    text-align: center;
    color: white;
    border-collapse: collapse;
}
th{
    padding-top: 0.6dvh;
    padding-bottom: 0.6dvh;
    border-bottom: 1px solid white;
    font-size: 2.2dvh;
}
td{
    padding-top: 0.4dvh;
    padding-bottom: 0.4dvh;
    border-bottom: 2px solid rgb(30, 30, 30);
    font-size: 2.2dvh;
}
tbody tr:nth-child(2n){
    background-color: rgb(50, 50, 50);
}
tbody tr:nth-child(2n+1){
    background-color: rgb(40, 40, 40);
}
tbody tr td:nth-child(1){
    font-style: italic;
    /* font-weight: bold; */
}
/* tbody tr:nth-child(1) td:nth-child(1){
    color: rgb(255, 0, 0);
}
tbody tr:nth-child(2) td:nth-child(1){
    color: rgb(255, 127, 0);
}
tbody tr:nth-child(3) td:nth-child(1){
    color: rgb(255, 255, 0);
}
tbody tr:nth-child(4) td:nth-child(1){
    color: rgb(127, 255, 0);
}
tbody tr:nth-child(5) td:nth-child(1){
    color: rgb(0, 255, 0);
}
tbody tr:nth-child(6) td:nth-child(1){
    color: rgb(0, 255, 127);
}
tbody tr:nth-child(7) td:nth-child(1){
    color: rgb(0, 255, 255);
}
tbody tr:nth-child(8) td:nth-child(1){
    color: rgb(0, 127, 255);
}
tbody tr:nth-child(9) td:nth-child(1){
    color: rgb(0, 0, 255);
}
tbody tr:nth-child(10) td:nth-child(1){
    color: rgb(127, 0, 255);
}
tbody tr:nth-child(11) td:nth-child(1){
    color: rgb(255, 0, 255);
}
tbody tr:nth-child(12) td:nth-child(1){
    color: rgb(255, 0, 127);
} */
#yourScore{
    padding-top: 0;
    font-style: italic;
    color: rgb(255, 211, 0);
    text-shadow: 0.17dvh 0.17dvh rgba(255, 211, 0, 0.5);
}
#enterName{
    padding-bottom: 0.4dvh;
    position: relative;
    width: 70%;
    left: 15%;
    text-align: left;    
}
#enterName>p{
    padding-top: 1dvh;
    padding-bottom: 0.6dvh;
    color: white;
    font-size: 2dvh;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0.12dvh 0.12dvh rgba(200, 200, 200, 0.5);
}
#enterName>input{
    width: calc(100% - 2dvh - 1px);
    border: 1px solid rgb(180, 180, 180);
    border-radius: 0.6dvh;
    padding-top: 0.3dvh;
    padding-bottom: 0.3dvh;
    padding-left: 1dvh;
    padding-right: 1dvh;
    height: 3.2dvh;
    font-size: 2.6dvh;
}