.modal{
    width: 100dvw;
    height: 100dvh;
    top: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}
.modal_window{
    position: absolute;
    border: 0.4dvh solid rgba(0,0,0,0);
    border-radius: 3dvh;
    background-color: rgb(180, 180, 180);    
}
.of_pause{
    width: 36dvh;
    height: 50dvh;
    left: calc(50dvw - 18dvh);
    top: 28dvh;
}
.of_gameover{
    width: 36dvh;
    height: 44dvh;
    left: calc(50dvw - 18dvh);
    top: 31dvh;
}
.of_check{
    width: 40dvh;
    height: 30dvh;
    left: calc(50dvw - 20dvh);
    top: 35dvh;
}
.of_check .modal_title{
    font-size: 2.6dvh;
    padding-top: 4.2dvh;
}
.of_keyInput{
    width: 42dvh;
    height: 30dvh;
    left: calc(50dvw - 21dvh);
    top: 35dvh;
}
.of_highscore{
    width: 70dvh;
    height: 78dvh;
    left: calc(50dvw - 35dvh);
    top: 11dvh;
}
.of_newRecord{
    width: 36dvh;
    height: 34.5dvh;
    left: calc(50dvw - 18dvh);
    top: 35dvh;
}
.of_option{
    width: 50dvh;
    height: 79dvh;
    left: calc(50dvw - 25dvh);
    top: 10dvh;
}
.modal_window>div{
    position: relative;
    width: calc(100% - 0.2dvh);
    height: calc(100% - 0.2dvh);
    top: 0.1dvh;
    left: 0.1dvh;
    border-radius: 3dvh;
    background-color: rgb(180, 180, 180);
    box-shadow: 0.5dvh 0.5dvh rgba(0, 0, 0, 0.2),
                -0.5dvh -0.5dvh rgba(255, 255, 255, 0.2);
}
.modal_window>div>div{
    position: relative;
    width: calc(100% - 3dvh);
    height: calc(100% - 3dvh);
    top: 0.5dvh;
    left: 0.5dvh;
    border: 1dvh solid rgb(80, 80, 80);
    border-radius: 3dvh;
    background-color: rgb(30, 30, 30);
    text-align: center;
}
.modal_title{
    padding-top: 3.2dvh;
    padding-bottom: 1.5dvh;
    font-family: Arial, sans-serif;
    font-size: 3.4dvh;
    font-weight: bold;
    color: white;
    letter-spacing: 0.2dvh;
    text-shadow: 0.17dvh 0.17dvh rgba(200, 200, 200, 0.5);
}
.modal_button{
    display: block;
    margin-top: 1.6dvh;
    position: relative;
    width: 23dvh;
    left: calc(50% - 11.5dvh - 0.15dvh);
    aspect-ratio: 4.5/1;
    border-radius: 1.5dvh;
    border: 0.3dvh solid rgb(80, 80, 80);
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.4));
    text-decoration: none;
}
.modal_button:hover{
    border: 0.3dvh solid rgb(100, 100, 100);
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.2));
}
.modal_button:active{
    border: 0.3dvh solid rgb(60, 60, 60);
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.5));
}
.modal_button>span{
    display: block;
    position: relative;
    line-height: calc(23dvh / 4.5);
    font-size: 2.3dvh;
    font-weight: 700;
    font-family: Arial, sans-serif;
    color: white;
    text-shadow: 0.17dvh 0.17dvh rgba(0, 0, 0, 0.5);
}
.modal_button:hover>span{
    top: -0.1dvh;
    left: -0.1dvh;
}
.modal_button:active>span{
    top: 0.1dvh;
    left: 0.1dvh;
}
.scoreOK, .optionDone{
    margin-top: 3dvh;
    width: 15.5dvh;
    left: calc(50% - 7.75dvh - 0.15dvh);
    aspect-ratio: 3/1;
    border-radius: 1.4dvh;
}
.scoreOK>span, .optionDone>span{
    line-height: calc(15.5dvh / 3);
}
.inputCancel{
    width: 21.4dvh;
    left: calc(50% - 10.7dvh - 0.15dvh);
    aspect-ratio: 4/1;
}
.inputCancel>span{
    line-height: calc(21.4dvh / 4);
}
#score_table{
    position: relative;
    width: 94%;
    left: 3%;
    top: 1dvh;
    text-align: center;
    color: white;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    line-height: 3.2dvh;
}
#score_table th{
    padding-top: 0.6dvh;
    padding-bottom: 0.6dvh;
    border-bottom: 0.2dvh solid white;
    font-size: 2.1dvh;
}
#score_table td{
    padding-top: 0.4dvh;
    padding-bottom: 0.4dvh;
    border-bottom: 0.3dvh solid rgb(30, 30, 30);
    font-size: 2.1dvh;
}
#score_table>tbody tr:nth-child(2n){
    background-color: rgb(50, 50, 50);
}
#score_table>tbody tr:nth-child(2n+1){
    background-color: rgb(40, 40, 40);
}
#score_table>tbody tr td:nth-child(1){
    font-style: italic;
    font-weight: bold;
}
#score_table>tbody tr:nth-child(1) td:nth-child(1){
    color: rgb(255, 0, 0);
}
#score_table>tbody tr:nth-child(2) td:nth-child(1){
    color: rgb(255, 127, 0);
}
#score_table>tbody tr:nth-child(3) td:nth-child(1){
    color: rgb(255, 255, 0);
}
#score_table>tbody tr:nth-child(4) td:nth-child(1){
    color: rgb(127, 255, 0);
}
#score_table>tbody tr:nth-child(5) td:nth-child(1){
    color: rgb(0, 255, 0);
}
#score_table>tbody tr:nth-child(6) td:nth-child(1){
    color: rgb(0, 255, 127);
}
#score_table>tbody tr:nth-child(7) td:nth-child(1){
    color: rgb(0, 255, 255);
}
#score_table>tbody tr:nth-child(8) td:nth-child(1){
    color: rgb(0, 127, 255);
}
#score_table>tbody tr:nth-child(9) td:nth-child(1){
    color: rgb(0, 0, 255);
}
#score_table>tbody tr:nth-child(10) td:nth-child(1){
    color: rgb(127, 0, 255);
}
#score_table>tbody tr:nth-child(11) td:nth-child(1){
    color: rgb(255, 0, 255);
}
#score_table>tbody tr:nth-child(12) td:nth-child(1){
    color: rgb(255, 0, 127);
}
#yourScore{
    position: relative;
    padding-top: 0;
    font-style: italic;
    color: rgb(255, 211, 0);
    text-shadow: 0.17dvh 0.17dvh rgba(255, 211, 0, 0.5);
}
.oneLine{
    font-size: 2.7dvh;
    letter-spacing: 0dvh;
    white-space-collapse: collapse;
    text-wrap-mode: nowrap;
}
.twoLines{
    top: -0.5dvh;
    padding-bottom: 0dvh;
    line-height: 2.7dvh;
    font-size: 2.5dvh;
    letter-spacing: 0dvh;
    white-space-collapse: preserve;
    text-wrap-mode: nowrap;
}
#scoreCopy{
    position: absolute;
    left: 0;
    font-size: 2.7dvh;
    font-family: 'Noto Serif KR', sans-serif;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0dvh;
    color: rgb(255, 211, 0);
    text-shadow: 0.17dvh 0.17dvh rgba(255, 211, 0, 0.5);
    white-space-collapse: collapse;
    text-wrap-mode: nowrap;
    visibility: hidden;
}
#enterName{
    display: flex;
    flex-direction: column;
    padding-bottom: 0.4dvh;
    position: relative;
    width: 70%;
    left: 15%;
    text-align: left;    
}
#enterName>p{
    padding-top: 1dvh;
    padding-bottom: 0.6dvh;
    color: white;
    font-size: 2dvh;
    font-family: Arial, sans-serif;
    text-shadow: 0.12dvh 0.12dvh rgba(200, 200, 200, 0.5);
}
#enterName>input{
    width: calc(100% - 2dvh - 0.2dvh);
    border: 0.2dvh solid rgb(180, 180, 180);
    border-radius: 0.6dvh;
    padding-top: 0.3dvh;
    padding-bottom: 0.3dvh;
    padding-left: 1dvh;
    padding-right: 1dvh;
    height: 3.2dvh;
    font-size: 2.3dvh;
}
#nameCopy{
    position: absolute;
    font-size: 2.1dvh;
    font-family: Arial, sans-serif;
    color: white;
    visibility: hidden;
}
.speech_bubble{
    position: absolute;
    top: -0.8dvh;
    left: 15dvh;
    height: 3dvh;
    line-height: 3dvh;
    padding-top: 0.5dvh;
    padding-bottom: 0.5dvh;
    padding-left: 0.3dvh;
    padding-right: 0.3dvh;
    background-color: white;
    border: 0.2dvh solid rgb(128, 128, 128);
    border-radius: 0.7dvh;
    font-size: 2dvh;
    color: rgb(20, 20, 20);
    white-space: nowrap;
}
.speech_bubble:after{
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 16%;
    margin-top: 0.5dvh;
    margin-left: -1.4dvh;
    border-left: 1.4dvh solid transparent;
    border-right: 1.4dvh solid transparent;
    border-top: 1.4dvh solid white;
}
.speech_bubble:before{
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 16%;
    margin-top: 3.6dvh;
    margin-left: calc(-1.4dvh - 0.1dvh);
    border-left: calc(1.4dvh + 0.1dvh) solid transparent;
    border-right: calc(1.4dvh + 0.1dvh) solid transparent;
    border-top: calc(1.4dvh + 0.1dvh) solid rgb(128, 128, 128);
}
.speech_bubble>span>a{
    display: inline-block;
    width: 1.8dvh;
    height: 1.8dvh;
    line-height: 1.8dvh;
    background-color: rgb(170, 170, 170);
    border: 0.2dvh solid rgb(170, 170, 170);
    border-radius: 50%;
    text-align: center;
    font-size: 1.4dvh;
    text-decoration: none;
    opacity: 0.1;
}
.speech_bubble>span{
    display: flex;
    align-items: center;
    padding-left: 0.7dvh;
    padding-right: 0.5dvh;
    border-radius: 0.7dvh;
}
.speech_bubble>span:hover{
    background-color: rgba(180, 180, 180, 0.4);
}
.speech_bubble>span:hover>a{
    opacity: 0.6;
}
.speech_bubble>span>a:hover{
    opacity: 0.8;
}
.speech_bubble>span>a:active{
    opacity: 1;
    color: black;
}
#invalid_key{
    top: 5dvh;
    margin-left: 1.5dvh;
}
.twoColTable{
    position: relative;
    margin-top: 2dvh;
    width: 92%;
    left: calc(4% - 0.3dvh);
    border: 0.3dvh solid white;
    border-radius: 1.3dvh;
    font-size: 1.7dvh;
    font-family: Arial, sans-serif;
    color: white;
}
.twoColTable:nth-child(2){
    margin-top: 0;
}
.optionTable{
    margin-top: 1.6dvh;
    margin-bottom: 1dvh;
    position: relative;
    width: 92%;
    left: 4%;
    border-collapse: collapse;
}
.optionTable:has(tr:only-child){
    margin-top: 1dvh;
}
.optionTable tr{
    line-height: 3.5dvh;
}
.optionTable td:nth-child(1){
    text-align: left;
    font-weight: 700;
    width: 60%;
}
.optionTable td:nth-child(2){
    font-weight: 400;
    width: 40%
}
.dropdownBtn{
    width: 100%;
    border: 0.2dvh solid white;
    border-radius: 2dvh;
    background-color: black;
    line-height: 3.2dvh;
    cursor: pointer;
    display: flex;
    flex-direction: row;    
}
.dropdownBtn:hover{
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
}
.dropdownBtn p:nth-child(1){
    width: 87%;
}
.dropdownBtn p:nth-child(2){
    width: 13%;
    text-align: left;
    text-shadow: 0.1dvh 0 white;
}
#dropdownBox{
    position: absolute;
    width: 37%;
    display: none;
    flex-direction: row;
    z-index: 1;
}
#dropdownBox::before{
    content: '';
    display: block;
    position: relative;
    width: 10%;
}
#dropdown-contents{    
    position: relative;
    width: 90%;
    border: 0.2dvh solid white;
    background-color: black;
    line-height: 3.2dvh;
}
#dropdown-contents a{
    padding-top: 0.2dvh;
    padding-bottom: 0.2dvh;
    padding-right: 15%;
    display: block;
    text-decoration: none;
    color: white;
}
#dropdown-contents a:hover{
    background-color: white;
    color: black;
}
.korean{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.8dvh;
}
.old_korean{
    font-family: 'Noto Serif KR', sans-serif;
    font-size: 1.8dvh;
}
.option-title{
    padding-left: 0.8dvh;
    padding-right: 0.8dvh;
    position: absolute;
    top: -1dvh;
    left: 2dvh;
    font-size: 1.8dvh;
    font-weight: 700;
    background-color: rgb(30, 30, 30);
}
.optionBtn{
    border: 0.2dvh solid white;
    border-radius: 2dvh;
    background-color: black;
    line-height: 2.6dvh;
    cursor: pointer;
}
.keyBtn{
    width: 100%;
}
.volBtn{
    width: 4dvh;
}
.resetBtn{
    line-height: 3.6dvh;
    width: 48%;
}
.btn-hover:hover{
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
}
.sound-volume{
    position: relative;
    width: 100%;
    line-height: 2.6dvh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}
#twoBtns{
    position: relative;
    margin-top: 2dvh;
    width: 92%;
    left: calc(4% - 0.3dvh);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-size: 1.7dvh;
    font-family: Arial, sans-serif;    
    color: white
}
#action{
    display: none;
}
#pressKey{
    padding-top: 4.5dvh;
    text-wrap: nowrap;
    font-size: 2.5dvh;
    color: white;
    text-shadow: 0.16dvh 0.16dvh rgba(200, 200, 200, 0.5);
}
.deadBtn{
    border: 0.2dvh solid rgb(100, 100, 100);
    color:  rgb(100, 100, 100);
}
.display-none{
    display: none;
}
.detail_bubble{
    position: absolute;
    min-width: 8dvh;
    max-width: 22dvh;
    min-height: 2.2dvh;
    line-height: 2.2dvh;
    padding-top: 0.8dvh;
    padding-bottom: 0.8dvh;
    padding-left: 0.8dvh;
    padding-right: 0.8dvh;
    background-color: white;
    border: 0.2dvh solid rgb(128, 128, 128);
    border-radius: 0.7dvh;
    font-size: 2dvh;
    font-family: 'Noto Serif KR', sans-serif;
    font-weight: 400;
    color: rgb(20, 20, 20);
    text-align: center;
    white-space-collapse: preserve;
    text-wrap-mode: nowrap;
}
.detail_bubble::before{
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    top: calc(-1.4dvh - 0.1dvh);
    margin-left: calc(-1.4dvh - 0.1dvh);
    border-left: calc(1.4dvh + 0.1dvh) solid transparent;
    border-right: calc(1.4dvh + 0.1dvh) solid transparent;
    border-bottom: calc(1.4dvh + 0.1dvh) solid rgb(128, 128, 128);
}
.detail_bubble::after{
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    top: calc(-1.4dvh + 0.1dvh);
    margin-left: -1.4dvh;
    border-left: 1.4dvh solid transparent;
    border-right: 1.4dvh solid transparent;
    border-bottom: 1.4dvh solid white;
}