#textLayer{    
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: 900;
}
#textLayer p{
    position: relative;
    top: 50%;
    white-space: nowrap;
}
#textLayer .combo{
    font-size: 2.8dvh;
    color: var(--tetris-red);
    text-shadow: 0.1dvh 0.1dvh rgba(0, 0, 0, 1),
                0.15dvh 0.15dvh 0.7dvh rgba(255, 255, 255, 1),
                -0.15dvh -0.15dvh 0.7dvh rgba(255, 255, 255, 1);
}
#textLayer .lineClear{
    font-size: 2.6dvh;
    color: var(--tetris-cyan);
    text-shadow: 0.06dvh 0.06dvh rgba(0, 0, 0, 1),
                0.1dvh 0.1dvh 0.4dvh rgba(255, 255, 255, 1),
                -0.08dvh -0.08dvh 0.4dvh rgba(255, 255, 255, 1);
}
#textLayer .tetrisScore{
    font-size: 2.8dvh;
    color: var(--tetris-orange);
    text-shadow: 0.1dvh 0.1dvh rgba(0, 0, 0, 1),
                0.15dvh 0.15dvh 0.7dvh rgba(255, 255, 255, 1),
                -0.15dvh -0.15dvh 0.7dvh rgba(255, 255, 255, 1);
}
#textLayer .tspin{
    font-size: 2.8dvh;
    color: var(--tetris-purple);
    text-shadow: 0.1dvh 0.1dvh rgba(0, 0, 0, 1),
                0.15dvh 0.15dvh 0.7dvh rgba(255, 255, 255, 1),
                -0.15dvh -0.15dvh 0.7dvh rgba(255, 255, 255, 1);
}
#textLayer .backtoback{
    font-size: 2.8dvh;
    line-height: 3dvh;
    color: var(--tetris-green);
    text-shadow: 0.1dvh 0.1dvh rgba(0, 0, 0, 1),
                0.15dvh 0.15dvh 0.7dvh rgba(255, 255, 255, 1),
                -0.15dvh -0.15dvh 0.7dvh rgba(255, 255, 255, 1);
}
#textLayer .perfect{
    font-size: 3.7dvh;
    color: var(--tetris-yellow);
    text-shadow: 0.1dvh 0.1dvh rgba(0, 0, 0, 1),
                0.2dvh 0.2dvh 0.7dvh rgba(255, 255, 255, 1),
                -0.2dvh -0.2dvh 0.7dvh rgba(255, 255, 255, 1);
}
#textLayer .point{
    padding-bottom: 1.5dvh;
    font-size: 2.5dvh;
    text-shadow: 0.1dvh 0.1dvh 0.4dvh rgba(255, 255, 255, 1);
}
#textLayer .bonus{
    padding-bottom: 1.5dvh;
    font-size: 3dvh;
    text-shadow: 0.2dvh 0.2dvh 0.4dvh rgba(255, 255, 255, 1);
}
#textLayer .levelup{
    font-size: 3.7dvh;
    color: rgb(0, 0, 0);
    text-shadow: 0.2dvh 0.2dvh 0.7dvh rgba(255, 255, 255, 1),
                -0.2dvh -0.2dvh 0.7dvh rgba(255, 255, 255, 1);
}
#textLayer .information{
    font-size: 5dvh;
    color: rgb(0, 0, 0);
    text-shadow: 0.28dvh 0 rgba(255, 255, 255, 1),
                0 0.28dvh rgba(255, 255, 255, 1),
                -0.28dvh 0 rgba(255, 255, 255, 1),
                0 -0.28dvh rgba(255, 255, 255, 1),
                0.28dvh 0.28dvh rgba(255, 255, 255, 1),
                -0.28dvh 0.28dvh rgba(255, 255, 255, 1),
                0.28dvh -0.28dvh rgba(255, 255, 255, 1),
                -0.28dvh -0.28dvh rgba(255, 255, 255, 1);
}